<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SiriUI</key>
	<dict>
		<key>Pym</key>
		<dict>
			<key>Enabled</key>
			<true/>
		</dict>
	</dict>
	<key>AppKit</key>
	<dict>
		<key>Glade</key>
		<dict>
			<key>Enabled</key>
			<true/>
		</dict>
	</dict>
	<key>Messages</key>
	<dict>
		<key>i</key>
		<dict>
			<key>Enabled</key>
			<true/>
		</dict>
		<key>m</key>
		<dict>
			<key>Enabled</key>
			<true/>
		</dict>
		<key>gp</key>
		<dict>
			<key>Enabled</key>
			<true/>
		</dict>
		<key>p</key>
		<dict>
			<key>Enabled</key>
			<true/>
		</dict>
	</dict>
	<key>SpringBoard</key>
	<dict>
		<key>FluidAutoPiPForHomeButton</key>
		<dict>
			<key>Enabled</key>
			<true/>
		</dict>
		<key>PictureInPicture</key>
		<dict>
			<key>Enabled</key>
			<true/>
		</dict>
		<key>LoL</key>
		<dict>
			<key>Enabled</key>
			<true/>
		</dict>
		<key>Avocado</key>
		<dict>
			<key>Enabled</key>
			<true/>
		</dict>
		<key>Dewey</key>
		<dict>
			<key>Enabled</key>
			<true/>
		</dict>
		<key>Huey</key>
		<dict>
			<key>Enabled</key>
			<true/>
		</dict>
	</dict>
	<key>InCallService</key>
	<dict>
		<key>CleethorpesEnabled</key>
		<dict>
			<key>Enabled</key>
			<true/>
		</dict>
	</dict>
    <key>Kettle</key>
    <dict>
        <key>SensitiveUI</key>
        <dict>
            <key>Enabled</key>
            <true/>
        </dict>
    </dict>
</dict>
</plist>
