<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>2298f8e4-f510-4776-b2c1-a85ea314b1f8</key>
	<dict>
		<key>Disclosed</key>
		<true/>
	</dict>
	<key>404e3440-0244-4759-b4ab-ff8318fd4d4f</key>
	<dict>
		<key>Disclosed</key>
		<true/>
	</dict>
	<key>618008b2-b5f4-4e52-b37f-7e8c3435e185</key>
	<dict>
		<key>Disclosed</key>
		<true/>
	</dict>
	<key>7c1e548e-8fc8-455f-b37d-9ea9745e6c01</key>
	<dict>
		<key>Disclosed</key>
		<true/>
	</dict>
	<key>844f6990-31be-484f-80a7-6f28d41b38b6</key>
	<dict>
		<key>Disclosed</key>
		<true/>
	</dict>
	<key>a7b91b4b-3c76-40b6-bed3-8f4e880c5718</key>
	<dict>
		<key>Disclosed</key>
		<true/>
	</dict>
	<key>ace440ac-b4f6-4b43-aade-02bba1589aef</key>
	<dict>
		<key>Disclosed</key>
		<true/>
	</dict>
	<key>bcc62760-404f-4f77-a139-4944841f3220</key>
	<dict>
		<key>Disclosed</key>
		<true/>
	</dict>
	<key>e6ee20dc-0320-4c1b-bd95-94d2aa154e6f</key>
	<dict>
		<key>Disclosed</key>
		<true/>
	</dict>
	<key>ec89c137-9295-4721-affa-58a3fc2ffb1e</key>
	<dict>
		<key>Disclosed</key>
		<true/>
	</dict>
	<key>f3df76de-ae69-4d24-a4ba-0b0bd0c3e05c</key>
	<dict>
		<key>Disclosed</key>
		<true/>
	</dict>
</dict>
</plist>
