<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Post</key>
	<dict>
		<key>SecureElementService</key>
		<dict>
			<key>DaemonLaunch</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
			<key>Connection</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
			<key>Disconnection</key>
			<dict/>
			<key>__PL__Global</key>
			<true/>
			<key>DeviceIntent</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
			<key>PeriodicReport</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
		</dict>
		<key>BatteryUIReset</key>
		<dict>
			<key>__PL__Global</key>
			<true/>
		</dict>
		<key>iMessage</key>
		<dict>
			<key>iMessageReceived</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
			<key>iMessageSent</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
		</dict>
		<key>BulletinBoard</key>
		<dict>
			<key>Publish</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
		</dict>
		<key>SystemTest</key>
		<dict>
			<key>TestEventBatch</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
			<key>TestEvent</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
		</dict>
		<key>NSURLSessionNetworkModeling</key>
		<dict>
			<key>NetworkEnergyModel</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
		</dict>
		<key>NSNetwork</key>
		<dict>
			<key>NSURLSession Transfer</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
			<key>Background Transfer</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
		</dict>
		<key>AirTrafficController</key>
		<dict>
			<key>AirTraffic_AssetDownload</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
		</dict>
		<key>HealthD</key>
		<dict>
			<key>healthlite_event</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
			<key>HealthKitCloudSync</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
		</dict>
		<key>Motion</key>
		<dict>
			<key>__PL__Global</key>
			<true/>
		</dict>
		<key>UserNotifications</key>
		<dict>
			<key>Request</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
			<key>Trigger</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
		</dict>
		<key>Sharing</key>
		<dict>
			<key>AutoUnlock-Attempt</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
		</dict>
		<key>AssertionsD</key>
		<dict>
			<key>__PL__Global</key>
			<false/>
		</dict>
		<key>SpringBoard</key>
		<dict>
			<key>IconDragging</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
			<key>WidgetAdditionAnimation</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
			<key>WidgetFlipAnimation</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
		</dict>
		<key>WebApp</key>
		<dict>
			<key>Webapps-Started</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
		</dict>
		<key>SpeakerProtection</key>
		<dict>
			<key>Speaker Amp</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
		</dict>
		<key>Siri</key>
		<dict>
			<key>Siri</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
			<key>Borealis</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
			<key>ShortcutsTriggerFired</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
			<key>SiriConfig</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
		</dict>
		<key>MessageFramework</key>
		<dict>
			<key>AFC</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
		</dict>
		<key>AirDrop</key>
		<dict>
			<key>AirDrop</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
		</dict>
		<key>ApplePushService</key>
		<dict>
			<key>PC APSD Message Received</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
			<key>PC APSD Message Sent</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
			<key>PC APSD DidSendKeepAlive</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
			<key>PC APSD Connected</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
		</dict>
		<key>Location</key>
		<dict>
			<key>clientStatus</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
			<key>GeoFenceHandoff</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
			<key>locationd</key>
			<dict>
				<key>__PL__Global</key>
				<false/>
			</dict>
			<key>telNotification</key>
			<dict>
				<key>__PL__Global</key>
				<false/>
			</dict>
			<key>StatusBarOverride</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
			<key>GnssPowerMetric</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
			<key>SeparationAlert</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
		</dict>
		<key>Healthlited</key>
		<dict>
			<key>Client State</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
			<key>Operating Mode Change</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
			<key>Occurences of PreUVLO Downs</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
		</dict>
		<key>SessionTracker</key>
		<dict>
			<key>__PL__Global</key>
			<true/>
		</dict>
		<key>WatchKit</key>
		<dict>
			<key>__PL__Global</key>
			<true/>
		</dict>
		<key>IdentityServices</key>
		<dict>
			<key>__PL__Global</key>
			<true/>
		</dict>
		<key>InitialSync</key>
		<dict>
			<key>__PL__Global</key>
			<true/>
		</dict>
		<key>Carousel</key>
		<dict>
			<key>BacklightAssertion</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
			<key>WristLowerGestureIgnored</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
			<key>DisableSleepGestureAssertion</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
			<key>BacklightIdleAssertion</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
			<key>onWristDetect</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
			<key>Shutdown-EcoMode</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
			<key>Display-Control</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
			<key>WatchFace</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
			<key>BulletinNotification</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
			<key>SystemWakeMetrics</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
			<key>SystemWakeMetricsSettingsAndState</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
		</dict>
		<key>UIKit</key>
		<dict>
			<key>EclipseValueChange</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
			<key>UIKit-Keyboard</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
			<key>UIKit-Activity</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
			<key>UIKit-Alert</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
		</dict>
		<key>Safari</key>
		<dict>
			<key>MobileSafari-ReadingListFetcher</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
			<key>SafariViewService</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
		</dict>
		<key>Suggestd</key>
		<dict>
			<key>PortraitHighlightsResult</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
			<key>SpotlightHighlightsResult</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
		</dict>
		<key>Symptoms</key>
		<dict>
			<key>NetworkAdvisory-HighThroughput-End</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
			<key>NetworkAdvisory-HighThroughput-Start</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
			<key>Symptoms-NetworkAdvisory</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
		</dict>
		<key>DataAccess</key>
		<dict>
			<key>DASyncStart</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
			<key>DACalendarItemsDownloaded</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
			<key>DACalendarItemsUploaded</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
		</dict>
		<key>FaceTime</key>
		<dict>
			<key>CallState</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
		</dict>
		<key>CallService</key>
		<dict>
			<key>CallState</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
			<key>GroupSessionEventEnded</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
		</dict>
		<key>Bluetooth</key>
		<dict>
			<key>LEConnectionStateEvent</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
			<key>BTContactTracingStatus</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
			<key>Magnet</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
			<key>Magnet Operation</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
			<key>HostWakeReport</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
			<key>PowerA2DPSession</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
			<key>PowerHFPSession</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
			<key>WirelessProximity</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
		</dict>
		<key>mediaserverd</key>
		<dict>
			<key>CM-CRABS</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
			<key>CM-HLS</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
			<key>VT-SESSION</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
			<key>CM-FILE</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
			<key>CameraStreaming</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
			<key>Torch</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
			<key>CoreMedia_AudioPlayback</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
			<key>CoreMedia_ScreenMirroring</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
			<key>CoreMedia_SystemSoundPlayback</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
			<key>CoreMedia_AppleTVIdleSleepPreventor</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
			<key>CoreMedia_Haptics</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
			<key>LeakedHapticsSessionInfo</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
			<key>Video</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
			<key>HeySiriFalseTrigger</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
			<key>AudioToolbox_SpatialAudio</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
			<key>MediaServerD-RTC</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
			<key>SmartCamDetection</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
			<key>MutedTalkerDetection</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
		</dict>
		<key>AccessoryMotion</key>
		<dict>
			<key>AccessoryMotion</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
		</dict>
		<key>iAP</key>
		<dict>
			<key>UARPUpdateStatus</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
			<key>AppAccessoryEvent</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
			<key>iAPAccessoryEvent</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
		</dict>
		<key>NotSet</key>
		<dict>
			<key>__PL__Global</key>
			<false/>
		</dict>
		<key>Nfc</key>
		<dict>
			<key>Field</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
			<key>Transaction</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
			<key>TSMCommunication</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
			<key>Card</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
		</dict>
		<key>PLLog</key>
		<dict>
			<key>__PL__Global</key>
			<true/>
			<key>satellite</key>
			<dict>
				<key>powerlogHelperd</key>
				<true/>
			</dict>
			<key>SchemaTest</key>
			<dict>
				<key>PLLog</key>
				<true/>
			</dict>
			<key>TestMarker</key>
			<dict>
				<key>PLLog</key>
				<true/>
			</dict>
			<key>PLLogLiteTest</key>
			<dict>
				<key>PLLog</key>
				<true/>
			</dict>
		</dict>
		<key>Duet</key>
		<dict>
            <key>InactivityPrediction</key>
            <dict>
                <key>__PL__Global</key>
                <true/>
            </dict>
			<key>CoreDuet_KnowledgeSync</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
			<key>LPMDisabled</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
			<key>LPMEnabled</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
			<key>__PL__Global</key>
			<true/>
		</dict>
		<key>DuetActivityScheduler</key>
		<dict>
			<key>__PL__Global</key>
			<true/>
		</dict>
		<key>DTMobileIS</key>
		<dict>
			<key>__PL__Global</key>
			<true/>
		</dict>
		<key>navd</key>
		<dict>
			<key>__PL__Global</key>
			<true/>
		</dict>
		<key>Multitouch</key>
		<dict>
			<key>__PL__Global</key>
			<true/>
		</dict>
		<key>SoundBoard</key>
		<dict>
			<key>TouchEvents</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
		</dict>
		<key>Spotlight</key>
		<dict>
			<key>__PL__Global</key>
			<true/>
		</dict>
		<key>Arbitrator</key>
		<dict>
			<key>__PL__Global</key>
			<true/>
		</dict>
		<key>Edu</key>
		<dict>
			<key>__PL__Global</key>
			<true/>
		</dict>
		<key>HomeKit</key>
		<dict>
			<key>HomeKitEvent</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
			<key>HomeConfiguration</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
			<key>CameraConfiguration</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
			<key>HomeKitRegistration</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
		</dict>
		<key>MDNSResponder</key>
		<dict>
			<key>startAWDLAdvertise</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
			<key>stopAWDLAdvertise</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
			<key>startAWDLBrowse</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
			<key>stopAWDLBrowse</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
			<key>startAWDLResolve</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
			<key>stopAWDLResolve</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
		</dict>
		<key>Proximity</key>
		<dict>
			<key>RadioState</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
			<key>ClientState</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
			<key>PowerStatistics</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
			<key>MaintenanceBackstopTimerFired</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
			<key>MaintainedAllDevices</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
			<key>DeviceConnection</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
		</dict>
		<key>Thermals</key>
		<dict>
			<key>UPOStepper</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
			<key>TGraph_Lite</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
			<key>TGraph_HiP</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
			<key>TGraph_SC</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
		</dict>
		<key>MobileBackup</key>
		<dict>
			<key>Statistics</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
			<key>BackupEvents</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
		</dict>
		<key>CloudKit</key>
		<dict>
			<key>CloudKitOperationMetrics</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
		</dict>
		<key>Ubiquity</key>
		<dict>
			<key>accountStatistic</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
			<key>deepScanReasons</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
		</dict>
		<key>CacheDelete</key>
		<dict>
			<key>CacheDeleteEvents</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
		</dict>
		<key>MachineTranslation</key>
		<dict>
			<key>TranslateRequest</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
		</dict>
		<key>AppActivationPerformance</key>
		<dict>
			<key>ActivationData</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
			<key>ProcessData</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
			<key>CPUStatistics</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
			<key>MemoryStatistics</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
			<key>PowerStateStatistics</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
		</dict>
		<key>AttentionAwareness</key>
		<dict>
			<key>SamplingAggregation</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
			<key>PollingAggregation</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
			<key>ServiceAggregation</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
		</dict>
		<key>CARenderServer</key>
		<dict>
			<key>ODOff</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
			<key>ODOn</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
			<key>ODHN</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
			<key>DRMaxRate</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
			<key>FrameCount</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
			<key>FrameStats</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
		</dict>
		<key>Security</key>
		<dict>
			<key>OctagonTrust</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
			<key>CKKSSyncing</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
			<key>SecItem</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
			<key>SOSKVSRateLimitingEvent</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
		</dict>
		<key>MobileMail</key>
		<dict>
			<key>NanoMailSession</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
		</dict>
		<key>VDCAssistant</key>
		<dict>
			<key>VDCAssistant_Camera_Usage</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
		</dict>
		<key>GeneralPreferences</key>
		<dict>
			<key>Appearance</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
		</dict>
		<key>AppleBacklight</key>
		<dict>
			<key>Brightness</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
		</dict>
		<key>Dosimetry</key>
		<dict>
			<key>NoiseEnabledStateChanged</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
		</dict>
		<key>NetworkRelay</key>
		<dict>
			<key>IDS Session</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
			<key>NetworkRelay BT Link Assertion</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
			<key>NetworkRelay Wi-Fi Assertion</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
			<key>NetworkRelay waking packet</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
		</dict>
		<key>Keyboard</key>
		<dict>
			<key>kbdTypingSessionStatistics</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
		</dict>
		<key>Sidecar</key>
		<dict>
			<key>ConnectedDevicesChanged</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
		</dict>
		<key>Rapport</key>
		<dict>
			<key>com.apple.rapport.receivedEvent</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
		</dict>
		<key>SleepD</key>
		<dict>
			<key>SleepTime</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
			<key>SleepLock</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
		</dict>
		<key>AudioRouting</key>
		<dict>
			<key>SmartRouting</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
		</dict>
		<key>IRATManager</key>
		<dict>
			<key>Telephony</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
			<key>Wifi-Cellular</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
		</dict>
		<key>ClockFace</key>
		<dict>
			<key>ComplicationsMetrics</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
		</dict>
		<key>ChronoD</key>
		<dict>
			<key>WidgetStats</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
			<key>WidgetUpdates</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
			<key>SuggestedWidgetReload</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
		</dict>
		<key>NotificationCenter</key>
		<dict>
			<key>WidgetStats</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
		</dict>
		<key>ShazamD</key>
		<dict>
			<key>ShazamRecording</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
		</dict>
		<key>PerfPowerTelemetry</key>
		<dict>
			<key>__PL__Global</key>
			<true/>
		</dict>
		<key>Accessbility</key>
		<dict>
			<key>HandGestures</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
		</dict>
		<key>DoNotDisturbD</key>
		<dict>
			<key>AvailabilityModes</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
			<key>SuppressedPushes</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
		</dict>
		<key>MediaRemote</key>
		<dict>
			<key>RemoteControlSession</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>Query</key>
	<dict>
		<key>SystemTest</key>
		<dict>
			<key>TestEventBatch</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
			<key>TestEvent</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
		</dict>
		<key>BatteryUI</key>
		<dict>
			<key>__PL__Global</key>
			<true/>
		</dict>
		<key>iOS Diagnostics</key>
		<dict>
			<key>QueryForOrbForceEntries</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
			<key>BatteryQueryForConfig</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
			<key>BatteryQueryForUPOStepper</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
			<key>BatteryQueryForCapacity</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
			<key>BatteryQueryForTemperature</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
			<key>BatteryQueryForDischargeCurrent</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
			<key>BatteryQueryForShutdownData</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
			<key>SafeLogFile</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
			<key>Archives</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
		</dict>
		<key>iQT</key>
		<dict>
			<key>__PL__Global</key>
			<true/>
		</dict>
		<key>RadarCompose</key>
		<dict>
			<key>SafeLogFile</key>
			<dict>
				<key>com.apple.PowerlogCore.Powerlog-RCExtension</key>
				<true/>
			</dict>
		</dict>
		<key>DiagnosticExtensions</key>
		<dict>
			<key>LogFiles</key>
			<dict>
				<key>com.apple.DiagnosticExtensions.Microstackshot</key>
				<true/>
			</dict>
			<key>SafeLogFile</key>
			<dict>
				<key>PWXlite</key>
				<true/>
				<key>com.apple.PowerlogCore.diagnosticextension</key>
				<true/>
				<key>DEPowerlogEPL</key>
				<true/>
			</dict>
			<key>Archives</key>
			<dict>
				<key>com.apple.PowerlogCore.diagnosticextension</key>
				<true/>
				<key>DEPowerlogEPL</key>
				<true/>
			</dict>
			<key>UpgradeLogs</key>
			<dict>
				<key>DEPowerlogEPL</key>
				<true/>
			</dict>
			<key>BatteryUIPlists</key>
			<dict>
				<key>DEPowerlogEPL</key>
				<true/>
			</dict>
		</dict>
		<key>PLLog</key>
		<dict>
			<key>__PL__Global</key>
			<true/>
		</dict>
		<key>DTMobileIS</key>
		<dict>
			<key>__PL__Global</key>
			<true/>
		</dict>
		<key>NotSet</key>
		<dict>
			<key>__PL__Global</key>
			<false/>
		</dict>
		<key>Duet</key>
		<dict>
			<key>__PL__Global</key>
			<true/>
		</dict>
		<key>Sysdiagnose</key>
		<dict>
			<key>__PL__Global</key>
			<true/>
		</dict>
		<key>NANDStats</key>
		<dict>
			<key>LogicalWritesPerApp</key>
			<dict>
				<key>__PL__Global</key>
				<true/>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
