<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mcx_application_data</key>
	<dict>
		<key>com.apple.applicationaccess</key>
		<dict>
			<key>Forced</key>
			<array>
				<dict>
					<key>mcx_precedence</key>
					<integer>100000</integer>
					<key>mcx_preference_settings</key>
					<dict>
						<key>AlwaysAllowedList-Raw</key>
						<dict>
							<key>com.apple.50onPaletteIM</key>
							<dict/>
							<key>com.apple.AnjalIM</key>
							<dict/>
							<key>com.apple.AnjalServer</key>
							<dict/>
							<key>com.apple.AppleSpell</key>
							<dict/>
							<key>com.apple.BluetoothCamera</key>
							<dict/>
							<key>com.apple.CharPaletteServer</key>
							<dict/>
							<key>com.apple.CharacterPaletteIM</key>
							<dict/>
							<key>com.apple.Classic</key>
							<dict/>
							<key>com.apple.DictionaryServiceComponent</key>
							<dict/>
							<key>com.apple.HangulIM</key>
							<dict/>
							<key>com.apple.HangulIM.HangulPrefsTool</key>
							<dict/>
							<key>com.apple.HangulIM.HanjaTool</key>
							<dict/>
							<key>com.apple.HangulIM.UIServer</key>
							<dict/>
							<key>com.apple.IOFWDVComponents</key>
							<dict/>
							<key>com.apple.KeyCapsPaletteIM</key>
							<dict/>
							<key>com.apple.KeyboardViewer</key>
							<dict/>
							<key>com.apple.KeyboardViewerServer</key>
							<dict/>
							<key>com.apple.Kotoeri</key>
							<dict/>
							<key>com.apple.KotoeriUIServer</key>
							<dict/>
							<key>com.apple.KotoeriWordRegister</key>
							<dict/>
							<key>com.apple.LAServer</key>
							<dict/>
							<key>com.apple.MassStorage</key>
							<dict/>
							<key>com.apple.PDFImporter</key>
							<dict/>
							<key>com.apple.PIM</key>
							<dict/>
							<key>com.apple.PIM.UIServer</key>
							<dict/>
							<key>com.apple.PTPCamera</key>
							<dict/>
							<key>com.apple.SCIM</key>
							<dict/>
							<key>com.apple.SCIMTool</key>
							<dict/>
							<key>com.apple.SCIMUIServer</key>
							<dict/>
							<key>com.apple.ScreenSaver.Engine</key>
							<dict/>
							<key>com.apple.SummaryService</key>
							<dict/>
							<key>com.apple.TCIM</key>
							<dict/>
							<key>com.apple.TCIMTool</key>
							<dict/>
							<key>com.apple.TCIMUIServer</key>
							<dict/>
							<key>com.apple.TWAINBridge</key>
							<dict/>
							<key>com.apple.Type1Camera</key>
							<dict/>
							<key>com.apple.Type2Camera</key>
							<dict/>
							<key>com.apple.Type3Camera</key>
							<dict/>
							<key>com.apple.Type4Camera</key>
							<dict/>
							<key>com.apple.Type5Camera</key>
							<dict/>
							<key>com.apple.Type6Camera</key>
							<dict/>
							<key>com.apple.Type7Camera</key>
							<dict/>
							<key>com.apple.Type8Camera</key>
							<dict/>
							<key>com.apple.applescript.component</key>
							<dict/>
							<key>com.apple.applescript2</key>
							<dict/>
							<key>com.apple.applescriptx.component</key>
							<dict/>
							<key>com.apple.audio.SoundManager.Components</key>
							<dict/>
							<key>com.apple.audio.codecs.Components</key>
							<dict/>
							<key>com.apple.audio.units.Components</key>
							<dict/>
							<key>com.apple.bomarchivehelper</key>
							<dict/>
							<key>com.apple.creatorcode.prmt</key>
							<dict/>
							<key>com.apple.dock</key>
							<dict/>
							<key>com.apple.finder</key>
							<dict/>
							<key>com.apple.helpviewer</key>
							<dict/>
							<key>com.apple.iChatAgent</key>
							<dict/>
							<key>com.apple.ink.InkServer</key>
							<dict/>
							<key>com.apple.ink.component</key>
							<dict/>
							<key>com.apple.iokit.IOQTComponents</key>
							<dict/>
							<key>com.apple.loginwindow</key>
							<dict/>
							<key>com.apple.print.PrintCenter</key>
							<dict/>
							<key>com.apple.print.PrinterProxy</key>
							<dict/>
							<key>com.apple.securityagent</key>
							<dict/>
							<key>com.apple.speech.SpeechService</key>
							<dict/>
							<key>com.apple.systemuiserver</key>
							<dict/>
							<key>com.apple.universalaccess</key>
							<dict/>
							<key>com.apple.viceroy.codec</key>
							<dict/>
							<key>com.epson.scanner.ica</key>
							<dict/>
						</dict>
						<key>SystemLaunchers-Raw</key>
						<dict>
							<key>com.apple.dock</key>
							<dict/>
							<key>com.apple.finder</key>
							<dict/>
							<key>com.apple.helpviewer</key>
							<dict/>
							<key>com.apple.loginwindow</key>
							<dict/>
							<key>com.apple.print.PrintCenter</key>
							<dict/>
							<key>com.apple.systempreferences</key>
							<dict/>
							<key>com.apple.systemuiserver</key>
							<dict/>
						</dict>
						<key>SystemSublaunchers-Raw</key>
						<dict>
							<key>com.apple.Classic</key>
							<dict/>
						</dict>
					</dict>
					<key>mcx_union_policy_keys</key>
					<array>
						<dict>
							<key>mcx_input_key_names</key>
							<array>
								<string>AlwaysAllowedList-Raw</string>
							</array>
							<key>mcx_output_key_name</key>
							<string>AlwaysAllowedList</string>
							<key>mcx_remove_duplicates</key>
							<true/>
							<key>mcx_union_as_dictionary</key>
							<true/>
						</dict>
						<dict>
							<key>mcx_input_key_names</key>
							<array>
								<string>SystemLaunchers-Raw</string>
							</array>
							<key>mcx_output_key_name</key>
							<string>SystemLaunchers</string>
							<key>mcx_remove_duplicates</key>
							<true/>
							<key>mcx_union_as_dictionary</key>
							<true/>
						</dict>
						<dict>
							<key>mcx_input_key_names</key>
							<array>
								<string>SystemSublaunchers-Raw</string>
							</array>
							<key>mcx_output_key_name</key>
							<string>SystemSublaunchers</string>
							<key>mcx_remove_duplicates</key>
							<true/>
							<key>mcx_union_as_dictionary</key>
							<true/>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
