<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.builtinwireless.managed</key>
	<array>
		<string>+AutoJoin</string>
		<string>+SSID_STR</string>
		<string>+HIDDEN_NETWORK</string>
		<string>+EncryptionType</string>
		<string>+Password</string>
		<string>+PayloadCertificateUUID</string>
		<string>+AcceptEAPTypes</string>
		<string>+OneTimeUserPassword</string>
		<string>+EAPClientConfiguration</string>
		<string>+EAPClientConfiguration.*</string>
		<string>+IsHotspot</string>
		<string>+DomainName</string>
		<string>+DisplayedOperatorName</string>
		<string>+RoamingConsortiumOIs</string>
		<string>+ServiceProviderRoamingEnabled</string>
		<string>+UserName</string>
		<string>+UserPassword</string>
		<string>+HESSID</string>
		<string>+NAIRealmNames</string>
		<string>+MCCAndMNCs</string>
		<string>+CaptiveBypass</string>
		<string>+QoSMarkingPolicy</string>
		<string>+QoSMarkingPolicy.*</string>
		<string>+QoSMarkingAppleAudioVideoCalls</string>
		<string>+QoSMarkingEnabled</string>
		<string>+QoSMarkingWhitelistedAppIdentifiers</string>
		<string>+QoSMarkingAllowedAppIdentifiers</string>
		<string>+Interface</string>
		<string>+SetupModes</string>
		<string>+DontAssociate</string>
		<string>+ForcePowerOn</string>
		<string>+Priority</string>
		<string>+EnableIPv6</string>
		<string>+TLSCertificateRequired</string>
		<string>+AuthenticationMethod</string>
		<string>+DirectoryDomain</string>
		<string>-ProxyType</string>
		<string>-ProxyServer</string>
		<string>-ProxyServerPort</string>
		<string>-ProxyUsername</string>
		<string>-ProxyPassword</string>
		<string>-ProxyPACURL</string>
		<string>-ProxyPACFallbackAllowed</string>
	</array>
	<key>com.apple.firstactiveethernet.managed</key>
	<array>
		<string>+EncryptionType</string>
		<string>+Password</string>
		<string>+PayloadCertificateUUID</string>
		<string>+AcceptEAPTypes</string>
		<string>+OneTimeUserPassword</string>
		<string>+EAPClientConfiguration</string>
		<string>+EAPClientConfiguration.*</string>
		<string>+ServiceProviderRoamingEnabled</string>
		<string>+UserName</string>
		<string>+UserPassword</string>
		<string>+QoSMarkingPolicy</string>
		<string>+QoSMarkingPolicy.*</string>
		<string>+QoSMarkingAppleAudioVideoCalls</string>
		<string>+QoSMarkingEnabled</string>
		<string>+QoSMarkingWhitelistedAppIdentifiers</string>
		<string>+QoSMarkingAllowedAppIdentifiers</string>
		<string>+Interface</string>
		<string>+SetupModes</string>
		<string>+Priority</string>
		<string>+EnableIPv6</string>
		<string>+TLSCertificateRequired</string>
		<string>+AuthenticationMethod</string>
		<string>+DirectoryDomain</string>
		<string>-AutoJoin</string>
		<string>-SSID_STR</string>
		<string>-HIDDEN_NETWORK</string>
		<string>-HESSID</string>
		<string>-NAIRealmNames</string>
		<string>-MCCAndMNCs</string>
		<string>-CaptiveBypass</string>
		<string>-IsHotspot</string>
		<string>-DomainName</string>
		<string>-DisplayedOperatorName</string>
		<string>-RoamingConsortiumOIs</string>
		<string>-DontAssociate</string>
		<string>-ForcePowerOn</string>
		<string>-ProxyType</string>
		<string>-ProxyServer</string>
		<string>-ProxyServerPort</string>
		<string>-ProxyUsername</string>
		<string>-ProxyPassword</string>
		<string>-ProxyPACURL</string>
		<string>-ProxyPACFallbackAllowed</string>
	</array>
	<key>com.apple.firstethernet.managed</key>
	<array>
		<string>+EncryptionType</string>
		<string>+Password</string>
		<string>+PayloadCertificateUUID</string>
		<string>+AcceptEAPTypes</string>
		<string>+OneTimeUserPassword</string>
		<string>+EAPClientConfiguration</string>
		<string>+EAPClientConfiguration.*</string>
		<string>+ServiceProviderRoamingEnabled</string>
		<string>+UserName</string>
		<string>+UserPassword</string>
		<string>+QoSMarkingPolicy</string>
		<string>+QoSMarkingPolicy.*</string>
		<string>+QoSMarkingAppleAudioVideoCalls</string>
		<string>+QoSMarkingEnabled</string>
		<string>+QoSMarkingWhitelistedAppIdentifiers</string>
		<string>+QoSMarkingAllowedAppIdentifiers</string>
		<string>+Interface</string>
		<string>+SetupModes</string>
		<string>+Priority</string>
		<string>+EnableIPv6</string>
		<string>+TLSCertificateRequired</string>
		<string>+AuthenticationMethod</string>
		<string>+DirectoryDomain</string>
		<string>-AutoJoin</string>
		<string>-SSID_STR</string>
		<string>-HIDDEN_NETWORK</string>
		<string>-HESSID</string>
		<string>-NAIRealmNames</string>
		<string>-MCCAndMNCs</string>
		<string>-CaptiveBypass</string>
		<string>-IsHotspot</string>
		<string>-DomainName</string>
		<string>-DisplayedOperatorName</string>
		<string>-RoamingConsortiumOIs</string>
		<string>-DontAssociate</string>
		<string>-ForcePowerOn</string>
		<string>-ProxyType</string>
		<string>-ProxyServer</string>
		<string>-ProxyServerPort</string>
		<string>-ProxyUsername</string>
		<string>-ProxyPassword</string>
		<string>-ProxyPACURL</string>
		<string>-ProxyPACFallbackAllowed</string>
	</array>
	<key>com.apple.globalethernet.managed</key>
	<array>
		<string>+EncryptionType</string>
		<string>+Password</string>
		<string>+PayloadCertificateUUID</string>
		<string>+AcceptEAPTypes</string>
		<string>+OneTimeUserPassword</string>
		<string>+EAPClientConfiguration</string>
		<string>+EAPClientConfiguration.*</string>
		<string>+ServiceProviderRoamingEnabled</string>
		<string>+UserName</string>
		<string>+UserPassword</string>
		<string>+QoSMarkingPolicy</string>
		<string>+QoSMarkingPolicy.*</string>
		<string>+QoSMarkingAppleAudioVideoCalls</string>
		<string>+QoSMarkingEnabled</string>
		<string>+QoSMarkingWhitelistedAppIdentifiers</string>
		<string>+QoSMarkingAllowedAppIdentifiers</string>
		<string>+Interface</string>
		<string>+SetupModes</string>
		<string>+Priority</string>
		<string>+EnableIPv6</string>
		<string>+TLSCertificateRequired</string>
		<string>+AuthenticationMethod</string>
		<string>+DirectoryDomain</string>
		<string>-AutoJoin</string>
		<string>-SSID_STR</string>
		<string>-HIDDEN_NETWORK</string>
		<string>-HESSID</string>
		<string>-NAIRealmNames</string>
		<string>-MCCAndMNCs</string>
		<string>-CaptiveBypass</string>
		<string>-IsHotspot</string>
		<string>-DomainName</string>
		<string>-DisplayedOperatorName</string>
		<string>-RoamingConsortiumOIs</string>
		<string>-DontAssociate</string>
		<string>-ForcePowerOn</string>
		<string>-ProxyType</string>
		<string>-ProxyServer</string>
		<string>-ProxyServerPort</string>
		<string>-ProxyUsername</string>
		<string>-ProxyPassword</string>
		<string>-ProxyPACURL</string>
		<string>-ProxyPACFallbackAllowed</string>
	</array>
	<key>com.apple.secondactiveethernet.managed</key>
	<array>
		<string>+EncryptionType</string>
		<string>+Password</string>
		<string>+PayloadCertificateUUID</string>
		<string>+AcceptEAPTypes</string>
		<string>+OneTimeUserPassword</string>
		<string>+EAPClientConfiguration</string>
		<string>+EAPClientConfiguration.*</string>
		<string>+ServiceProviderRoamingEnabled</string>
		<string>+UserName</string>
		<string>+UserPassword</string>
		<string>+QoSMarkingPolicy</string>
		<string>+QoSMarkingPolicy.*</string>
		<string>+QoSMarkingAppleAudioVideoCalls</string>
		<string>+QoSMarkingEnabled</string>
		<string>+QoSMarkingWhitelistedAppIdentifiers</string>
		<string>+QoSMarkingAllowedAppIdentifiers</string>
		<string>+Interface</string>
		<string>+SetupModes</string>
		<string>+Priority</string>
		<string>+EnableIPv6</string>
		<string>+TLSCertificateRequired</string>
		<string>+AuthenticationMethod</string>
		<string>+DirectoryDomain</string>
		<string>-AutoJoin</string>
		<string>-SSID_STR</string>
		<string>-HIDDEN_NETWORK</string>
		<string>-HESSID</string>
		<string>-NAIRealmNames</string>
		<string>-MCCAndMNCs</string>
		<string>-CaptiveBypass</string>
		<string>-IsHotspot</string>
		<string>-DomainName</string>
		<string>-DisplayedOperatorName</string>
		<string>-RoamingConsortiumOIs</string>
		<string>-DontAssociate</string>
		<string>-ForcePowerOn</string>
		<string>-ProxyType</string>
		<string>-ProxyServer</string>
		<string>-ProxyServerPort</string>
		<string>-ProxyUsername</string>
		<string>-ProxyPassword</string>
		<string>-ProxyPACURL</string>
		<string>-ProxyPACFallbackAllowed</string>
	</array>
	<key>com.apple.secondethernet.managed</key>
	<array>
		<string>+EncryptionType</string>
		<string>+Password</string>
		<string>+PayloadCertificateUUID</string>
		<string>+AcceptEAPTypes</string>
		<string>+OneTimeUserPassword</string>
		<string>+EAPClientConfiguration</string>
		<string>+EAPClientConfiguration.*</string>
		<string>+ServiceProviderRoamingEnabled</string>
		<string>+UserName</string>
		<string>+UserPassword</string>
		<string>+QoSMarkingPolicy</string>
		<string>+QoSMarkingPolicy.*</string>
		<string>+QoSMarkingAppleAudioVideoCalls</string>
		<string>+QoSMarkingEnabled</string>
		<string>+QoSMarkingWhitelistedAppIdentifiers</string>
		<string>+QoSMarkingAllowedAppIdentifiers</string>
		<string>+Interface</string>
		<string>+SetupModes</string>
		<string>+Priority</string>
		<string>+EnableIPv6</string>
		<string>+TLSCertificateRequired</string>
		<string>+AuthenticationMethod</string>
		<string>+DirectoryDomain</string>
		<string>-AutoJoin</string>
		<string>-SSID_STR</string>
		<string>-HIDDEN_NETWORK</string>
		<string>-HESSID</string>
		<string>-NAIRealmNames</string>
		<string>-MCCAndMNCs</string>
		<string>-CaptiveBypass</string>
		<string>-IsHotspot</string>
		<string>-DomainName</string>
		<string>-DisplayedOperatorName</string>
		<string>-RoamingConsortiumOIs</string>
		<string>-DontAssociate</string>
		<string>-ForcePowerOn</string>
		<string>-ProxyType</string>
		<string>-ProxyServer</string>
		<string>-ProxyServerPort</string>
		<string>-ProxyUsername</string>
		<string>-ProxyPassword</string>
		<string>-ProxyPACURL</string>
		<string>-ProxyPACFallbackAllowed</string>
	</array>
	<key>com.apple.thirdactiveethernet.managed</key>
	<array>
		<string>+EncryptionType</string>
		<string>+Password</string>
		<string>+PayloadCertificateUUID</string>
		<string>+AcceptEAPTypes</string>
		<string>+OneTimeUserPassword</string>
		<string>+EAPClientConfiguration</string>
		<string>+EAPClientConfiguration.*</string>
		<string>+ServiceProviderRoamingEnabled</string>
		<string>+UserName</string>
		<string>+UserPassword</string>
		<string>+QoSMarkingPolicy</string>
		<string>+QoSMarkingPolicy.*</string>
		<string>+QoSMarkingAppleAudioVideoCalls</string>
		<string>+QoSMarkingEnabled</string>
		<string>+QoSMarkingWhitelistedAppIdentifiers</string>
		<string>+QoSMarkingAllowedAppIdentifiers</string>
		<string>+Interface</string>
		<string>+SetupModes</string>
		<string>+Priority</string>
		<string>+EnableIPv6</string>
		<string>+TLSCertificateRequired</string>
		<string>+AuthenticationMethod</string>
		<string>+DirectoryDomain</string>
		<string>-AutoJoin</string>
		<string>-SSID_STR</string>
		<string>-HIDDEN_NETWORK</string>
		<string>-HESSID</string>
		<string>-NAIRealmNames</string>
		<string>-MCCAndMNCs</string>
		<string>-CaptiveBypass</string>
		<string>-IsHotspot</string>
		<string>-DomainName</string>
		<string>-DisplayedOperatorName</string>
		<string>-RoamingConsortiumOIs</string>
		<string>-DontAssociate</string>
		<string>-ForcePowerOn</string>
		<string>-ProxyType</string>
		<string>-ProxyServer</string>
		<string>-ProxyServerPort</string>
		<string>-ProxyUsername</string>
		<string>-ProxyPassword</string>
		<string>-ProxyPACURL</string>
		<string>-ProxyPACFallbackAllowed</string>
	</array>
	<key>com.apple.thirdethernet.managed</key>
	<array>
		<string>+EncryptionType</string>
		<string>+Password</string>
		<string>+PayloadCertificateUUID</string>
		<string>+AcceptEAPTypes</string>
		<string>+OneTimeUserPassword</string>
		<string>+EAPClientConfiguration</string>
		<string>+EAPClientConfiguration.*</string>
		<string>+ServiceProviderRoamingEnabled</string>
		<string>+UserName</string>
		<string>+UserPassword</string>
		<string>+QoSMarkingPolicy</string>
		<string>+QoSMarkingPolicy.*</string>
		<string>+QoSMarkingAppleAudioVideoCalls</string>
		<string>+QoSMarkingEnabled</string>
		<string>+QoSMarkingWhitelistedAppIdentifiers</string>
		<string>+QoSMarkingAllowedAppIdentifiers</string>
		<string>+Interface</string>
		<string>+SetupModes</string>
		<string>+Priority</string>
		<string>+EnableIPv6</string>
		<string>+TLSCertificateRequired</string>
		<string>+AuthenticationMethod</string>
		<string>+DirectoryDomain</string>
		<string>-AutoJoin</string>
		<string>-SSID_STR</string>
		<string>-HIDDEN_NETWORK</string>
		<string>-HESSID</string>
		<string>-NAIRealmNames</string>
		<string>-MCCAndMNCs</string>
		<string>-CaptiveBypass</string>
		<string>-IsHotspot</string>
		<string>-DomainName</string>
		<string>-DisplayedOperatorName</string>
		<string>-RoamingConsortiumOIs</string>
		<string>-DontAssociate</string>
		<string>-ForcePowerOn</string>
		<string>-ProxyType</string>
		<string>-ProxyServer</string>
		<string>-ProxyServerPort</string>
		<string>-ProxyUsername</string>
		<string>-ProxyPassword</string>
		<string>-ProxyPACURL</string>
		<string>-ProxyPACFallbackAllowed</string>
	</array>
	<key>com.apple.airprint</key>
	<array>
		<string>+AirPrint</string>
		<string>+AirPrint.*</string>
	</array>
	<key>com.apple.ADCertificate.managed</key>
	<array>
		<string>+CertServer</string>
		<string>+CertTemplate</string>
		<string>+Description</string>
		<string>+CertificateAuthority</string>
		<string>+CertificateAcquisitionMechanism</string>
		<string>+PromptForCredentials</string>
		<string>+KeyIsExtractable</string>
		<string>+Keysize</string>
		<string>+EnableAutoRenewal</string>
		<string>+AllowAllAppsAccess</string>
		<string>+CertificateRenewalTimeInterval</string>
		<string>+CertificateRenewalTimePercent</string>
		<string>+UserName</string>
		<string>+Password</string>
		<string>+IdentificationUUID</string>
	</array>
	<key>com.apple.applicationaccess</key>
	<array>
		<string>-allowAccountModification</string>
		<string>-allowActivityContinuation</string>
		<string>-allowAddingGameCenterFriends</string>
        <string>-allowAirDrop</string>
        <string>-allowAirPlayIncomingRequests</string>
		<string>-allowAirPrint</string>
		<string>-allowAirPrintCredentialsStorage</string>
		<string>-allowAirPrintiBeaconDiscovery</string>
        <string>-allowApplePersonalizedAdvertising</string>
		<string>-allowAppCellularDataModification</string>
        <string>-allowAppInstallation</string>
		<string>-allowAppRemoval</string>
		<string>-allowAssistant</string>
		<string>-allowAssistantUserGeneratedContent</string>
		<string>-allowAssistantWhileLocked</string>
		<string>-allowAutoCorrection</string>
		<string>-allowAutoUnlock</string>
		<string>-allowAutomaticAppDownloads</string>
		<string>-allowBluetoothModification</string>
		<string>-allowBookstore</string>
		<string>-allowBookstoreErotica</string>
		<string>-allowCamera</string>
		<string>-allowCellularPlanModification</string>
		<string>-allowChat</string>
		<string>-allowCloudAddressBook</string>
		<string>-allowCloudBackup</string>
		<string>-allowCloudBookmarks</string>
		<string>-allowCloudBTMM</string>
		<string>-allowCloudCalendar</string>
		<string>-allowCloudDesktopAndDocuments</string>
		<string>-allowCloudDocumentSync</string>
		<string>-allowCloudFMM</string>
		<string>-allowCloudKeychainSync</string>
		<string>-allowCloudMail</string>
		<string>-allowCloudNotes</string>
        <string>-allowCloudPhotoLibrary</string>
        <string>-allowCloudPrivateRelay</string>
		<string>-allowCloudReminders</string>
		<string>-allowContentCaching</string>
		<string>-allowGroupActivity</string>
		<string>-allowDefinitionLookup</string>
		<string>-allowDeprecatedWebKitTLS</string>
		<string>-allowDeviceNameModification</string>
		<string>-allowDiagnosticSubmissionModification</string>
		<string>-allowDictation</string>
		<string>-allowEnablingRestrictions</string>
		<string>-allowEnterpriseAppTrust</string>
		<string>-allowEnterpriseBookBackup</string>
		<string>-allowEnterpriseBookMetadataSync</string>
		<string>-allowEraseContentAndSettings</string>
		<string>-allowExplicitContent</string>
		<string>-allowFindMyDevice</string>
		<string>-allowFindMyFriends</string>
		<string>-allowFindMyFriendsModification</string>
		<string>-allowFingerprintForUnlock</string>
		<string>-allowGameCenter</string>
		<string>-allowGameCenterNearbyMultiplayer</string>
		<string>-allowGameCenterPrivateMessaging</string>
		<string>-allowGameCenterProfileModification</string>
		<string>-allowGameCenterProfilePrivacyModification</string>
		<string>-allowedGameCenterOtherPlayerTypes</string>
		<string>-allowGameCenterFriendsSharingModification</string>
		<string>-allowGlobalBackgroundFetchWhenRoaming</string>
        <string>-allowHostPairing</string>
        <string>-allowIdentifierForAdvertising</string>
		<string>-allowInAppPurchases</string>
		<string>-allowiTunes</string>
		<string>-allowiTunesFileSharing</string>
		<string>-allowKeyboardShortcuts</string>
		<string>-allowLockScreenControlCenter</string>
		<string>-allowLockScreenNotificationsView</string>
		<string>-allowLockScreenTodayView</string>
		<string>-allowManagedAppsCloudSync</string>
		<string>-allowManagedToWriteUnmanagedContacts</string>
		<string>-allowMultiplayerGaming</string>
		<string>-allowMusicArtistActivity</string>
		<string>-allowMusicService</string>
		<string>-allowMusicVideos</string>
		<string>-allowNews</string>
		<string>-allowNotificationsModification</string>
		<string>-allowOpenFromManagedToUnmanaged</string>
		<string>-allowOpenFromUnmanagedToManaged</string>
		<string>-allowOTAPKIUpdates</string>
		<string>-allowPairedWatch</string>
		<string>-allowPassbookWhileLocked</string>
		<string>-allowPasscodeModification</string>
		<string>-allowPasswordAutoFill</string>
		<string>-allowPasswordProximityRequests</string>
		<string>-allowPasswordSharing</string>
		<string>-allowPhotoStream</string>
		<string>-allowPodcasts</string>
		<string>-allowPredictiveKeyboard</string>
		<string>-allowProximitySetupToNewDevice</string>
		<string>-allowRadioService</string>
		<string>-allowSafari</string>
		<string>-allowSharedMediaLibraries</string>
		<string>-allowSharedStream</string>
		<string>-allowSpellCheck</string>
		<string>-allowSpotlightInternetResults</string>
		<string>-allowSystemAppRemoval</string>
		<string>-allowUIAppInstallation</string>
		<string>-allowUIConfigurationProfileInstallation</string>
		<string>-allowUnmanagedToReadManagedContacts</string>
		<string>-allowUntrustedTLSPrompt</string>
		<string>-allowUSBRestrictedMode</string>
		<string>-allowVideoConferencing</string>
		<string>-allowVoiceDialing</string>
		<string>-allowVPNCreation</string>
		<string>-allowWallpaperModification</string>
		<string>-allowYouTube</string>
		<string>-autonomousSingleAppModePermittedAppIDs</string>
		<string>-blacklistedAppBundleIDs</string>
		<string>-enforcedSoftwareUpdateDelay</string>
		<string>-enforcedSoftwareUpdateMinorOSDeferredInstallDelay</string>
		<string>-enforcedSoftwareUpdateMajorOSDeferredInstallDelay</string>
        <string>-enforcedSoftwareUpdateNonOSDeferredInstallDelay</string>
        <string>-enforcedFingerprintTimeout</string>
		<string>-forceAirDropUnmanaged</string>
		<string>-forceAirPlayOutgoingRequestsPairingPassword</string>
		<string>-forceAirPrintTrustedTLSRequirement</string>
		<string>-forceAssistantProfanityFilter</string>
		<string>-forceAuthenticationBeforeAutoFill</string>
		<string>-forceAutomaticDateAndTime</string>
		<string>-forceClassroomAutomaticallyJoinClasses</string>
		<string>-forceClassroomRequestPermissionToLeaveClasses</string>
		<string>-forceClassroomUnpromptedAppAndDeviceLock</string>
		<string>-forceClassroomUnpromptedScreenObservation</string>
		<string>-forceDelayedSoftwareUpdates</string>
		<string>-forceDelayedAppSoftwareUpdates</string>
		<string>-forceDelayedMajorSoftwareUpdates</string>
		<string>-forceEncryptedBackup</string>
		<string>-forceITunesStorePasswordEntry</string>
		<string>-forceLimitAdTracking</string>
		<string>-forceUnpromptedManagedClassroomScreenObservation</string>
		<string>-forceWatchWristDetection</string>
		<string>-forceWiFiWhitelisting</string>
		<string>-ratingApps</string>
		<string>-ratingMovies</string>
		<string>-ratingRegion</string>
		<string>-ratingTVShows</string>
		<string>-safariAcceptCookies</string>
		<string>-safariAllowAutoFill</string>
		<string>-safariAllowJavaScript</string>
		<string>-safariAllowPopups</string>
		<string>-safariForceFraudWarning</string>
		<string>-whitelistedAppBundleIDs</string>
		<string>+allowDiagnosticSubmission</string>
        <string>+allowRemoteScreenObservation</string>
		<string>+allowScreenShot</string>
		<string>+allowSiriServerLogging</string>
		<string>+PayloadPrecedence</string>
	</array>
	<key>com.apple.applicationaccess.new</key>
	<array/>
	<key>com.apple.AssetCache.managed</key>
	<array/>
	<key>com.apple.caldav.account</key>
	<array>
		<string>+CalDAVAccountDescription</string>
		<string>+CalDAVHostName</string>
		<string>+CalDAVUsername</string>
		<string>+CalDAVPassword</string>
		<string>+CalDAVPrincipalURL</string>
		<string>+CalDAVUseSSL</string>
		<string>+CalDAVPort</string>
		<string>+IdentificationUUID</string>
	</array>
	<key>com.apple.dashboard</key>
	<array/>
	<key>com.apple.Dictionary</key>
	<array/>
	<key>com.apple.DirectoryService.managed</key>
	<array>
		<string>+HostName</string>
		<string>+UserName</string>
		<string>+Password</string>
		<string>+ClientID</string>
		<string>+Description</string>
		<string>+ADOrganizationalUnit</string>
		<string>+ADMountStyle</string>
		<string>+ADCreateMobileAccountAtLoginFlag</string>
		<string>+ADCreateMobileAccountAtLogin</string>
		<string>+ADWarnUserBeforeCreatingMAFlag</string>
		<string>+ADWarnUserBeforeCreatingMA</string>
		<string>+ADForceHomeLocalFlag</string>
		<string>+ADForceHomeLocal</string>
		<string>+ADUseWindowsUNCPathFlag</string>
		<string>+ADUseWindowsUNCPath</string>
		<string>+ADAllowMultiDomainAuthFlag</string>
		<string>+ADAllowMultiDomainAuth</string>
		<string>+ADDefaultUserShellFlag</string>
		<string>+ADDefaultUserShell</string>
		<string>+ADMapUIDAttributeFlag</string>
		<string>+ADMapUIDAttribute</string>
		<string>+ADMapGIDAttributeFlag</string>
		<string>+ADMapGIDAttribute</string>
		<string>+ADMapGGIDAttributeFlag</string>
		<string>+ADMapGGIDAttribute</string>
		<string>+ADPreferredDCServerFlag</string>
		<string>+ADPreferredDCServer</string>
		<string>+ADDomainAdminGroupListFlag</string>
		<string>+ADDomainAdminGroupList</string>
		<string>+ADNamespaceFlag</string>
		<string>+ADNamespace</string>
		<string>+ADPacketSignFlag</string>
		<string>+ADPacketSign</string>
		<string>+ADPacketEncryptFlag</string>
		<string>+ADPacketEncrypt</string>
		<string>+ADRestrictDDNSFlag</string>
		<string>+ADRestrictDDNS</string>
		<string>+ADTrustChangePassIntervalDaysFlag</string>
		<string>+ADTrustChangePassIntervalDays</string>
		<string>+IdentificationUUID</string>
	</array>
	<key>com.apple.desktop</key>
	<array/>
	<key>com.apple.Desktop</key>
	<array/>
	<key>com.apple.dock</key>
	<array/>
	<key>com.apple.familycontrols.contentfilter</key>
	<array/>
	<key>com.apple.familycontrols.timelimits.v2</key>
	<array/>
	<key>com.apple.fileproviderd</key>
	<array>
		<string>+AllowManagedFileProvidersToRequestAttribution</string>
	</array>
	<key>com.apple.finder</key>
	<array/>
	<key>com.apple.ironwood.support</key>
	<array/>
	<key>com.apple.gamed</key>
	<array/>
	<key>com.apple.ldap.account</key>
	<array>
		<string>+LDAPAccountDescription</string>
		<string>+LDAPAccountHostName</string>
		<string>+LDAPAccountUserName</string>
		<string>+LDAPAccountPassword</string>
		<string>+LDAPAccountUseSSL</string>
		<string>+LDAPSearchSettings</string>
		<string>+IdentificationUUID</string>
	</array>
	<key>com.apple.loginitems.managed</key>
	<array>
		<string>+MCX-NetworkHomeDirectoryItem</string>
		<string>+AutoLaunchedApplicationDictionary-managed</string>
		<string>+AutoLaunchedApplicationDictionary-managed.*</string>
	</array>
	<key>com.apple.loginwindow</key>
	<array/>
	<key>com.apple.mail.managed</key>
	<array>
		<string>+EmailAccountDescription</string>
		<string>+EmailAccountName</string>
		<string>+EmailAccountType</string>
		<string>+EmailAddress</string>
		<string>+IncomingMailServerAuthentication</string>
		<string>+IncomingMailServerHostName</string>
		<string>+IncomingMailServerPortNumber</string>
		<string>+IncomingMailServerUseSSL</string>
		<string>+IncomingMailServerUsername</string>
		<string>+IncomingPassword</string>
		<string>+OutgoingPassword</string>
		<string>+OutgoingPasswordSameAsIncomingPassword</string>
		<string>+OutgoingMailServerAuthentication</string>
		<string>+OutgoingMailServerHostName</string>
		<string>+OutgoingMailServerPortNumber</string>
		<string>+OutgoingMailServerUseSSL</string>
		<string>+OutgoingMailServerUsername</string>
		<string>+PreventMove</string>
		<string>+PreventAppSheet</string>
		<string>+SMIMEEnabled</string>
		<string>+SMIMESigningEnabled</string>
		<string>+SMIMESigningCertificateUUID</string>
		<string>+SMIMEEncryptionEnabled</string>
		<string>+SMIMEEncryptionCertificateUUID</string>
		<string>+SMIMEEnablePerMessageSwitch</string>
		<string>+disableMailRecentsSyncing</string>
		<string>+allowMailDrop</string>
		<string>+IncomingMailServerIMAPPathPrefix</string>
		<string>+SMIMESigningOverrideable</string>
		<string>+SMIMESigningCertificateUUIDOverrideable</string>
		<string>+SMIMEEncryptByDefault</string>
		<string>+SMIMEEncryptByDefaultOverrideable</string>
		<string>+SMIMEEncryptionCertificateUUIDOverrideable</string>
		<string>+SMIMEEnableEncryptionPerMessageSwitch</string>
		<string>+IdentificationUUID</string>
		<string>+EmailDomains</string>
		<string>+SMIMESigningUserOverrideable</string>
	</array>
	<key>com.apple.MCX</key>
	<array/>
	<key>com.apple.MCX.FileVault2</key>
	<array/>
	<key>com.apple.MCX.TimeMachine</key>
	<array/>
	<key>com.apple.MCXAirPort</key>
	<array>
		<string>-DisableAirPort</string>
		<string>+RequireAdminForIBSS</string>
		<string>+RequireAdminForAirPortNetworkChange</string>
		<string>+RequireAdminToTurnAirPortOnOff</string>
	</array>
	<key>com.apple.MCXBluetooth</key>
	<array/>
	<key>com.apple.mcxloginscripts</key>
	<array/>
	<key>com.apple.mcxMenuExtras</key>
	<array/>
	<key>com.apple.mcxprinting</key>
	<array/>
	<key>com.apple.mobiledevice.passwordpolicy</key>
	<array/>
	<key>com.apple.preference.users</key>
	<array>
		<string>+DisableUsingiCloudPassword</string>
	</array>
	<key>com.apple.proxy.http.global</key>
	<array/>
	<key>com.apple.screensaver</key>
	<array/>
	<key>com.apple.screensaver.user</key>
	<array/>
	<key>com.apple.security.firewall</key>
	<array/>
	<key>com.apple.security.FDERecoveryKeyEscrow</key>
	<array/>
	<key>com.apple.security.FDERecoveryRedirect</key>
	<array/>
	<key>com.apple.security.smartcard</key>
	<array/>
	<key>com.apple.SetupAssistant.managed</key>
	<array/>
	<key>com.apple.SubmitDiagInfo</key>
	<array/>
	<key>com.apple.SoftwareUpdate</key>
	<array/>
	<key>com.apple.systemmigration</key>
	<array/>
	<key>com.apple.systempreferences</key>
	<array/>
	<key>com.apple.universalaccess</key>
	<array/>
	<key>com.apple.webClip.managed</key>
	<array>
		<string>+Precomposed</string>
		<string>+FullScreen</string>
		<string>+Icon</string>
		<string>+IsRemovable</string>
		<string>+URL</string>
		<string>+Label</string>
	</array>
	<key>com.apple.vpn.managed</key>
	<array/>
	<key>com.apple.vpn.managed.applayer</key>
	<array>
		<string>+VPNType</string>
		<string>+VPNSubType</string>
		<string>+ProviderBundleIdentifier</string>
		<string>+UserDefinedName</string>
		<string>+VendorConfig</string>
		<string>+VendorConfig.*</string>
		<string>+VPN</string>
		<string>+VPN.*</string>
		<string>+IPv4</string>
		<string>+IPv4.*</string>
		<string>+PPP</string>
		<string>+PPP.*</string>
		<string>+IPSec</string>
		<string>+IPSec.*</string>
		<string>+IKEv2</string>
		<string>+IKEv2.*</string>
		<string>+IPv6</string>
		<string>+IPv6.*</string>
		<string>+SMB</string>
		<string>+SMB.*</string>
		<string>+DNS</string>
		<string>+DisconnectOnIdle</string>
		<string>+IdentificationUUID</string>
		<string>+Proxies</string>
		<string>+Proxies.*</string>
		<string>+AlwaysOn</string>
		<string>+AlwaysOn.*</string>
		<string>+VPNUUID</string>
		<string>+DisconnectOnDemandEnabled</string>
		<string>+Interface</string>
		<string>+Interface.*</string>
		<string>+VPNUUID</string>
		<string>+SafariDomains</string>
		<string>+OnDemandMatchAppEnabled</string>
		<string>+SMBDomains</string>
		<string>+ProviderType</string>
		<string>+SafariDomains</string>
		<string>+SafariDomains.*</string>
		<string>+MailDomains</string>
		<string>+MailDomains.*</string>
		<string>+CalendarDomains</string>
		<string>+CalendarDomains.*</string>
		<string>+ContactsDomains</string>
		<string>+ContactsDomains.*</string>
	</array>
	<key>com.apple.vpn.managed.appmapping</key>
	<array>
		<string>+AppLayerVPNMapping</string>
		<string>+AppLayerVPNMapping.*</string>
	</array>
	<key>com.apple.webcontent-filter</key>
	<array/>
	<key>com.apple.wifi.managed</key>
	<array>
		<string>+AutoJoin</string>
		<string>+SSID_STR</string>
		<string>+HIDDEN_NETWORK</string>
		<string>+EncryptionType</string>
		<string>+Password</string>
		<string>+PayloadCertificateUUID</string>
		<string>+AcceptEAPTypes</string>
		<string>+OneTimeUserPassword</string>
		<string>+EAPClientConfiguration</string>
		<string>+EAPClientConfiguration.*</string>
		<string>+IsHotspot</string>
		<string>+DomainName</string>
		<string>+DisplayedOperatorName</string>
		<string>+RoamingConsortiumOIs</string>
		<string>+ServiceProviderRoamingEnabled</string>
		<string>+UserName</string>
		<string>+UserPassword</string>
		<string>+HESSID</string>
		<string>+NAIRealmNames</string>
		<string>+MCCAndMNCs</string>
		<string>+CaptiveBypass</string>
		<string>+QoSMarkingPolicy</string>
		<string>+QoSMarkingPolicy.*</string>
		<string>+QoSMarkingAppleAudioVideoCalls</string>
		<string>+QoSMarkingEnabled</string>
		<string>+QoSMarkingWhitelistedAppIdentifiers</string>
		<string>+QoSMarkingAllowedAppIdentifiers</string>
		<string>+Interface</string>
		<string>+SetupModes</string>
		<string>+DontAssociate</string>
		<string>+ForcePowerOn</string>
		<string>+Priority</string>
		<string>+EnableIPv6</string>
		<string>+TLSCertificateRequired</string>
		<string>+AuthenticationMethod</string>
		<string>-ProxyType</string>
		<string>-ProxyServer</string>
		<string>-ProxyServerPort</string>
		<string>-ProxyUsername</string>
		<string>-ProxyPassword</string>
		<string>-ProxyPACURL</string>
		<string>-ProxyPACFallbackAllowed</string>
	</array>
	<key>com.apple.xsan</key>
	<array/>
	<key>com.apple.xsan.preferences</key>
	<array/>
	<key>.GlobalPreferences</key>
	<array/>
	<key>loginwindow</key>
	<array/>
</dict>
</plist>
