<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PostLoginExcludeBundles</key>
	<array>
		<string>com.apple.mcxloginscripts</string>
		<string>com.apple.remoteaccess</string>
		<string>com.apple.wifi.managed</string>
		<string>com.apple.8021X.managed</string>
		<string>com.apple.ADCertificate.managed</string>
		<string>com.apple.DirectoryService.managed</string>
		<string>com.apple.ldap.account</string>
		<string>com.apple.webClip.managed</string>
		<string>com.apple.security.pkcs12</string>
		<string>com.apple.security.pkcs1</string>
		<string>com.apple.security.pem</string>
		<string>com.apple.security.root</string>
		<string>com.apple.security.scep</string>
		<string>com.apple.mdm</string>
		<string>com.apple.builtinwireless.managed</string>
		<string>com.apple.firstactiveethernet.managed</string>
		<string>com.apple.secondactiveethernet.managed</string>
		<string>com.apple.firstethernet.managed</string>
		<string>com.apple.secondethernet.managed</string>
		<string>com.apple.ews.account</string>
		<string>com.apple.carddav.account</string>
		<string>com.apple.caldav.account</string>
		<string>com.apple.jabber.account</string>
		<string>com.apple.subnet.account</string>
		<string>com.apple.vpn.managed</string>
		<string>com.apple.profileRemovalPassword</string>
	</array>
	<key>PreLoginExcludeBundles</key>
	<array>
		<string>com.apple.Classic</string>
		<string>com.apple.DiscRecording</string>
		<string>com.apple.dock</string>
		<string>com.apple.finder</string>
		<string>com.apple.homeSync</string>
		<string>com.apple.internet</string>
		<string>com.apple.mcxprinting</string>
		<string>com.apple.remoteaccess</string>
		<string>com.apple.Safari</string>
		<string>com.apple.safari</string>
		<string>com.apple.screenreaderd</string>
		<string>com.apple.systempreferences</string>
		<string>com.apple.universalaccess</string>
		<string>loginwindow</string>
		<string>com.apple.wifi.managed</string>
		<string>com.apple.8021X.managed</string>
		<string>com.apple.ADCertificate.managed</string>
		<string>com.apple.DirectoryService.managed</string>
		<string>com.apple.ldap.account</string>
		<string>com.apple.webClip.managed</string>
		<string>com.apple.security.pkcs12</string>
		<string>com.apple.security.pkcs1</string>
		<string>com.apple.security.pem</string>
		<string>com.apple.security.root</string>
		<string>com.apple.security.scep</string>
		<string>com.apple.mdm</string>
		<string>com.apple.builtinwireless.managed</string>
		<string>com.apple.firstactiveethernet.managed</string>
		<string>com.apple.secondactiveethernet.managed</string>
		<string>com.apple.firstethernet.managed</string>
		<string>com.apple.secondethernet.managed</string>
		<string>com.apple.ews.account</string>
		<string>com.apple.carddav.account</string>
		<string>com.apple.caldav.account</string>
		<string>com.apple.iChat.Jabber</string>
		<string>com.apple.iChat.SubNet</string>
		<string>com.apple.jabber.account</string>
		<string>com.apple.subnet.account</string>
		<string>com.apple.iCal</string>
		<string>com.apple.vpn.managed</string>
		<string>com.apple.profileRemovalPassword</string>
	</array>
</dict>
</plist>
