<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mcx_translation_map</key>
	<dict>
        <key>com.apple.SoftwareUpdate</key>
        <dict>
            <key>domainkeys</key>
            <dict>
                <key>CatalogURL</key>
                <dict>
                    <key>keyaction</key>
                    <string>removeValue</string>
                </dict>
            </dict>
        </dict>
        <key>com.apple.extensiblesso</key>
        <dict>
            <key>domainkeys</key>
            <dict>
                <key>ExtensionData</key>
                <dict>
                    <key>keyaction</key>
                    <string>removeValue</string>
                </dict>
            </dict>
        </dict>
        <key>com.apple.osxserver.account</key>
        <dict>
            <key>domainkeys</key>
            <dict>
                <key>Password</key>
                <dict>
                    <key>keyaction</key>
                    <string>setStringToBullets</string>
                </dict>
            </dict>
        </dict>
        <key>com.apple.xsan.preferences</key>
        <dict>
            <key>domainname</key>
            <string>com.apple.xsan</string>
        </dict>
        <key>com.apple.xsan</key>
        <dict>
            <key>domainkeys</key>
            <dict>
                <key>sharedSecret</key>
                <dict>
                    <key>keyaction</key>
                    <string>removeValue</string>
                </dict>
                <key>password</key>
                <dict>
                    <key>keyaction</key>
                    <string>removeValue</string>
                </dict>
                <key>_password</key>
                <dict>
                    <key>keyaction</key>
                    <string>removeValue</string>
                </dict>
            </dict>
        </dict>
        <key>com.apple.webcontent-filter</key>
        <dict>
            <key>ignorekeys</key>
            <true/>
        </dict>
        <key>com.apple.domains</key>
        <dict>
            <key>domainname</key>
            <string>com.apple.mail-shared</string>
            <key>copyonlytranslatedkeys</key>
            <true/>
            <key>domainkeys</key>
            <dict>
                <key>EmailDomains</key>
                <dict>
                    <key>keyvalue</key>
                    <string>DomainForMatching</string>
                </dict>
                <key>AlertForNonmatchingDomains</key>
                <dict>
                    <key>keyvalue</key>
                    <string>AlertForNonmatchingDomains</string>
                </dict>
                <key>MailPrivacyProtectionAllowedDomains</key>
                <dict>
                    <key>keyvalue</key>
                    <string>MailPrivacyProtectionAllowedDomains</string>
                </dict>
            </dict>
        </dict>
        <key>com.apple.airplay</key>
        <dict>
            <key>domainkeys</key>
            <dict>
                <key>Whitelist</key>
                <dict>
                    <key>keyaction</key>
                    <string>translateAirplayWhiteList</string>
                    <key>keyvalue</key>
                    <string>deviceFilter</string>
                </dict>
                <key>Passwords</key>
                <dict>
                    <key>keyaction</key>
                    <string>removeValue</string>
                </dict>
                <key>AllowList</key>
                <dict>
                    <key>keyaction</key>
                    <string>translateAirplayWhiteList</string>
                    <key>keyvalue</key>
                    <string>deviceFilter</string>
                </dict>
            </dict>
        </dict>
		<key>com.apple.MCX</key>
		<dict>
			<key>domainname</key>
			<string>com.apple.universalaccess</string>
            <key>copyonlyredirectedtranslatedkeys</key>
            <true/>
			<key>domainkeys</key>
			<dict>
				<key>com.apple.universalaccess.flash_screen</key>
				<dict>
					<key>keyvalue</key>
					<string>flashScreen</string>
				</dict>
				<key>com.apple.universalaccess.seeing_switch_to</key>
				<dict>
					<key>keyvalue</key>
					<string>whiteOnBlack</string>
				</dict>
			</dict>
		</dict>
		<key>com.apple.proxy.http.global</key>
		<dict>
			<key>domainname</key>
			<string>com.apple.SystemConfiguration</string>
			<key>domainsetup</key>
			<string>setupGlobaHTTPProxies</string>
			<key>domainkeys</key>
			<dict>
				<key>ProxyPassword</key>
				<dict>
					<key>keyaction</key>
					<string>removeStringValue</string>
				</dict>
				<key>ProxyType</key>
				<dict>
					<key>keyaction</key>
					<string>removeStringValue</string>
				</dict>
				<key>ProxyServer</key>
				<dict>
					<key>keyaction</key>
					<string>removeStringValue</string>
				</dict>
				<key>ProxyServerPort</key>
				<dict>
					<key>keyaction</key>
					<string>removeValue</string>
				</dict>
				<key>ProxyUsername</key>
				<dict>
					<key>keyaction</key>
					<string>removeStringValue</string>
				</dict>
				<key>ProxyPACURL</key>
				<dict>
					<key>keyaction</key>
					<string>removeStringValue</string>
				</dict>
			</dict>
		</dict>
		<key>com.apple.mobiledevice.passwordpolicy</key>
		<dict>
			<key>domainname</key>
			<string>com.apple.screensaver</string>
			<key>copyonlyredirectedtranslatedkeys</key>
			<true/>
			<key>domainkeys</key>
			<dict>
				<key>maxGracePeriod</key>
				<dict>
					<key>keyvalue</key>
					<string>askForPasswordDelay</string>
					<key>keyaction</key>
					<string>minutesToSeconds</string>
				</dict>
				<key>maxInactivity</key>
				<dict>
					<key>keyvalue</key>
					<string>idleTime</string>
					<key>keyaction</key>
					<string>minutesToSeconds</string>
				</dict>
				<key>forcePIN</key>
				<dict>
					<key>keyvalue</key>
					<string>askForPassword</string>
				</dict>
			</dict>
		</dict>
		<key>com.apple.mail.managed</key>
		<dict>
			<key>domainkeys</key>
			<dict>
				<key>IncomingPassword</key>
				<dict>
					<key>keyaction</key>
					<string>setStringToBullets</string>
				</dict>
				<key>OutgoingPassword</key>
				<dict>
					<key>keyaction</key>
					<string>setStringToBullets</string>
				</dict>
			</dict>
		</dict>
		<key>com.apple.ADCertificate.managed</key>
		<dict>
			<key>domainkeys</key>
			<dict>
				<key>Password</key>
				<dict>
					<key>keyaction</key>
					<string>setStringToBullets</string>
				</dict>
			</dict>
		</dict>
		<key>com.apple.caldav.account</key>
		<dict>
			<key>domainkeys</key>
			<dict>
				<key>CalDAVPassword</key>
				<dict>
					<key>keyaction</key>
					<string>setStringToBullets</string>
				</dict>
			</dict>
		</dict>
		<key>com.apple.configurationprofile.identification</key>
		<dict>
			<key>domainkeys</key>
			<dict>
				<key>(TranslationActions)</key>
				<array>
					<dict>
						<key>Password</key>
						<string>setAnyStringToBullets</string>
					</dict>
				</array>
			</dict>
		</dict>
		<key>com.apple.vpn.managed</key>
		<dict>
			<key>domainkeys</key>
			<dict>
				<key>Password</key>
				<dict>
					<key>keyaction</key>
					<string>setStringToBullets</string>
				</dict>
				<key>(TranslationActions)</key>
				<array>
					<dict>
						<key>AuthPassword</key>
						<string>setAnyStringToBullets</string>
						<key>XAuthPassword</key>
						<string>setAnyStringToBullets</string>
					</dict>
				</array>
			</dict>
		</dict>
		<key>com.apple.wifi.managed</key>
		<dict>
			<key>domainkeys</key>
			<dict>
				<key>Password</key>
				<dict>
					<key>keyaction</key>
					<string>setStringToBullets</string>
				</dict>
				<key>(TranslationActions)</key>
				<array>
					<dict>
						<key>UserPassword</key>
						<string>setAnyStringToBullets</string>
						<key>SystemUserPassword</key>
						<string>setAnyStringToBullets</string>
					</dict>
				</array>
			</dict>
		</dict>
		<key>com.apple.ews.account</key>
		<dict>
			<key>domainkeys</key>
			<dict>
				<key>Password</key>
				<dict>
					<key>keyaction</key>
					<string>setStringToBullets</string>
				</dict>
			</dict>
		</dict>
		<key>com.apple.builtinwireless.managed</key>
		<dict>
			<key>domainkeys</key>
			<dict>
				<key>Password</key>
				<dict>
					<key>keyaction</key>
					<string>setStringToBullets</string>
				</dict>
				<key>(TranslationActions)</key>
				<array>
					<dict>
						<key>UserPassword</key>
						<string>setAnyStringToBullets</string>
						<key>SystemUserPassword</key>
						<string>setAnyStringToBullets</string>
					</dict>
				</array>
			</dict>
		</dict>
		<key>com.apple.firstactiveethernet.managed</key>
		<dict>
			<key>domainkeys</key>
			<dict>
				<key>Password</key>
				<dict>
					<key>keyaction</key>
					<string>setStringToBullets</string>
				</dict>
				<key>(TranslationActions)</key>
				<array>
					<dict>
						<key>UserPassword</key>
						<string>setAnyStringToBullets</string>
						<key>SystemUserPassword</key>
						<string>setAnyStringToBullets</string>
					</dict>
				</array>
			</dict>
		</dict>
		<key>com.apple.secondactiveethernet.managed</key>
		<dict>
			<key>domainkeys</key>
			<dict>
				<key>Password</key>
				<dict>
					<key>keyaction</key>
					<string>setStringToBullets</string>
				</dict>
				<key>(TranslationActions)</key>
				<array>
					<dict>
						<key>UserPassword</key>
						<string>setAnyStringToBullets</string>
						<key>SystemUserPassword</key>
						<string>setAnyStringToBullets</string>
					</dict>
				</array>
			</dict>
		</dict>
		<key>com.apple.firstethernet.managed</key>
		<dict>
			<key>domainkeys</key>
			<dict>
				<key>Password</key>
				<dict>
					<key>keyaction</key>
					<string>setStringToBullets</string>
				</dict>
				<key>(TranslationActions)</key>
				<array>
					<dict>
						<key>UserPassword</key>
						<string>setAnyStringToBullets</string>
						<key>SystemUserPassword</key>
						<string>setAnyStringToBullets</string>
					</dict>
				</array>
			</dict>
		</dict>
		<key>com.apple.secondethernet.managed</key>
		<dict>
			<key>domainkeys</key>
			<dict>
				<key>Password</key>
				<dict>
					<key>keyaction</key>
					<string>setStringToBullets</string>
				</dict>
				<key>(TranslationActions)</key>
				<array>
					<dict>
						<key>UserPassword</key>
						<string>setAnyStringToBullets</string>
						<key>SystemUserPassword</key>
						<string>setAnyStringToBullets</string>
					</dict>
				</array>
			</dict>
		</dict>
		<key>com.apple.eas.account</key>
		<dict>
			<key>domainkeys</key>
			<dict>
				<key>Password</key>
				<dict>
					<key>keyaction</key>
					<string>setStringToBullets</string>
				</dict>
			</dict>
		</dict>
		<key>com.apple.subscribedcalendar.account</key>
		<dict>
			<key>domainkeys</key>
			<dict>
				<key>SubCalAccountPassword</key>
				<dict>
					<key>keyaction</key>
					<string>setStringToBullets</string>
				</dict>
			</dict>
		</dict>
		<key>com.apple.ldap.account</key>
		<dict>
			<key>domainkeys</key>
			<dict>
				<key>LDAPAccountPassword</key>
				<dict>
					<key>keyaction</key>
					<string>setStringToBullets</string>
				</dict>
			</dict>
		</dict>
		<key>com.apple.DirectoryService.managed</key>
		<dict>
			<key>domainkeys</key>
			<dict>
				<key>Password</key>
				<dict>
					<key>keyaction</key>
					<string>setStringToBullets</string>
				</dict>
			</dict>
		</dict>
		<key>com.apple.profileRemovalPassword</key>
		<dict>
			<key>domainkeys</key>
			<dict>
				<key>RemovalPassword</key>
				<dict>
					<key>keyaction</key>
					<string>setStringToBullets</string>
				</dict>
			</dict>
		</dict>
		<key>com.apple.security.pkcs12</key>
		<dict>
			<key>domainkeys</key>
			<dict>
				<key>Password</key>
				<dict>
					<key>keyaction</key>
					<string>setStringToBullets</string>
				</dict>
			</dict>
		</dict>
		<key>com.apple.security.pem</key>
		<dict>
			<key>domainkeys</key>
			<dict>
				<key>Password</key>
				<dict>
					<key>keyaction</key>
					<string>setStringToBullets</string>
				</dict>
			</dict>
		</dict>
		<key>com.apple.carddav.account</key>
		<dict>
			<key>domainkeys</key>
			<dict>
				<key>CardDAVPassword</key>
				<dict>
					<key>keyaction</key>
					<string>setStringToBullets</string>
				</dict>
			</dict>
		</dict>
		<key>com.apple.iChat.Jabber</key>
		<dict>
			<key>domainkeys</key>
			<dict>
				<key>(TranslationActions)</key>
				<array>
					<dict>
						<key>AccountPassword</key>
						<string>setAnyStringToBullets</string>
					</dict>
				</array>
			</dict>
		</dict>
		<key>com.apple.iChat.SubNet</key>
		<dict>
			<key>domainkeys</key>
			<dict>
				<key>(TranslationActions)</key>
				<array>
					<dict>
						<key>AccountPassword</key>
						<string>setAnyStringToBullets</string>
					</dict>
				</array>
			</dict>
		</dict>
		<key>com.apple.jabber.account</key>
		<dict>
			<key>domainkeys</key>
			<dict>
				<key>JabberPassword</key>
				<dict>
					<key>keyaction</key>
					<string>setStringToBullets</string>
				</dict>
			</dict>
		</dict>
		<key>com.apple.AIM.account</key>
		<dict>
			<key>domainkeys</key>
			<dict>
				<key>AIMPassword</key>
				<dict>
					<key>keyaction</key>
					<string>setStringToBullets</string>
				</dict>
			</dict>
		</dict>
		<key>com.apple.subnet.account</key>
		<dict>
			<key>domainkeys</key>
			<dict>
				<key>SubNetPassword</key>
				<dict>
					<key>keyaction</key>
					<string>setStringToBullets</string>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>mcx_translation_vers</key>
	<integer>1</integer>
</dict>
</plist>
