<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>20A241133</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>PMLDESPlugin</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.proactive.PMLDESPlugin</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>PMLDESPlugin</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>DESSupport</key>
	<dict>
		<key>MaximumRecordCount</key>
		<integer>100</integer>
		<key>RecordCreationLikelihood</key>
		<real>1</real>
		<key>SupportRecipeEvaluation</key>
		<true/>
		<key>SupportsABModels</key>
		<false/>
	</dict>
	<key>DESUseCaseList</key>
	<array>
		<string>FiM_phone</string>
		<string>FiM_email</string>
		<string>FiM_address</string>
		<string>ContactSharing_firstPerson_phone</string>
		<string>ContactSharing_firstPerson_email</string>
		<string>ContactSharing_firstPerson_address</string>
		<string>ContactSharing_thirdPerson_phone</string>
		<string>ContactSharing_thirdPerson_email</string>
		<string>ContactSharing_thirdPerson_address</string>
		<string>SelfID</string>
		<string>QR_1</string>
		<string>QR_2</string>
		<string>QR_3</string>
		<string>QR_4</string>
		<string>QR_5</string>
		<string>QR_6</string>
		<string>QR_7</string>
		<string>QR_8</string>
		<string>QR_9</string>
		<string>QR_10</string>
		<string>QR_11</string>
		<string>QR_12</string>
		<string>QR_13</string>
		<string>QR_14</string>
		<string>QR_15</string>
		<string>QR_16</string>
		<string>QR_17</string>
		<string>QR_18</string>
		<string>QR_19</string>
		<string>QR_20</string>
		<string>QR_21</string>
		<string>QR_22</string>
		<string>QR_23</string>
		<string>QR_24</string>
		<string>QR_25</string>
		<string>QR_26</string>
		<string>QR_27</string>
		<string>QR_28</string>
		<string>QR_29</string>
		<string>QR_30</string>
		<string>QR_31</string>
		<string>QR_32</string>
		<string>QR_33</string>
		<string>QR_34</string>
		<string>QR_35</string>
		<string>QR_36</string>
		<string>QR_37</string>
		<string>QR_38</string>
		<string>QR_39</string>
		<string>QR_40</string>
		<string>QR_41</string>
		<string>QR_42</string>
		<string>QR_43</string>
		<string>QR_44</string>
		<string>QR_45</string>
		<string>QR_46</string>
		<string>QR_47</string>
		<string>QR_48</string>
		<string>QR_49</string>
		<string>QR_50</string>
		<string>QR_51</string>
		<string>QR_52</string>
		<string>QR_53</string>
		<string>QR_54</string>
		<string>QR_55</string>
		<string>QR_56</string>
		<string>QR_57</string>
		<string>QR_58</string>
		<string>QR_59</string>
		<string>QR_60</string>
		<string>QR_61</string>
		<string>QR_62</string>
		<string>QR_63</string>
		<string>QR_64</string>
		<string>QR_65</string>
		<string>QR_66</string>
		<string>QR_67</string>
		<string>QR_68</string>
		<string>QR_69</string>
		<string>QR_70</string>
		<string>QR_71</string>
		<string>QR_72</string>
		<string>QR_73</string>
		<string>QR_74</string>
		<string>QR_75</string>
		<string>QR_76</string>
		<string>QR_77</string>
		<string>QR_78</string>
		<string>QR_79</string>
		<string>QR_80</string>
		<string>QR_81</string>
		<string>QR_82</string>
		<string>QR_83</string>
		<string>QR_84</string>
		<string>QR_85</string>
		<string>QR_86</string>
		<string>QR_87</string>
		<string>QR_88</string>
		<string>QR_89</string>
		<string>QR_90</string>
		<string>QR_91</string>
		<string>QR_92</string>
		<string>QR_93</string>
		<string>QR_94</string>
		<string>QR_95</string>
		<string>QR_96</string>
		<string>QR_97</string>
		<string>QR_98</string>
		<string>QR_99</string>
		<string>QR_100</string>
	</array>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>13E6049a</string>
	<key>DTPlatformName</key>
	<string>macosx</string>
	<key>DTPlatformVersion</key>
	<string>12.6</string>
	<key>DTSDKBuild</key>
	<string>21G105</string>
	<key>DTSDKName</key>
	<string>macosx12.6.internal</string>
	<key>DTXcode</key>
	<string>1330</string>
	<key>DTXcodeBuild</key>
	<string>13E6049a</string>
	<key>LSMinimumSystemVersion</key>
	<string>12.6</string>
</dict>
</plist>
