<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AudiogramIngestion</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>ComfortSounds</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>HeadphoneLiveLevel_WatchSupport</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>HearingAidMultiDeviceV3</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>Magnifier_AdaptiveFilters</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>Magnifier_CameraSelection</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>Magnifier_PeopleDetection</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>Magnifier_SelfieMode</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>PSEPlus</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>RTT_CallHoldSupport</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>VoiceOver_Flashlight_Notifications</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>VoiceOver_GreySupport</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>VoiceOver_ImageExplorer</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>VoiceOver_Interaction</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>VoiceOver_SettingsHUD</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>VoiceTrigger</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>WatchAssistiveTouch</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>WatchTextSettingsPreview</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>WatchVoiceOverRotor</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>Zoom_GreySupport</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
</dict>
</plist>
