<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EnableGFTDowngradeToOneToOne</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>UPlusNDowngrade</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>UseBTNotification</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>UseIDSLinkSuggestion</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>UseNWConnectionMonitorForVCCM</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>UseNWConnectionNotificationForAudioRedundancyController</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>UseNWConnectionNotificationForMediaStream</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>UseNWConnectionNotificationForRateController</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>UseNWConnectionNotificationForVideoRedundancyController</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>UseNwActivitySubmitMetrics</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>UseTransportStreamsForIDS</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>UseTransportStreamsForNW</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>UseTransportStreamsForProxy</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>UseTransportStreamsForSockets</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>ViewpointCorrection</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>facetime_camera_sifr</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
</dict>
</plist>
