<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BYOD3rdParty</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>BYODApple</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>ClassCIdentities</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>DeviceManagementAndVPNUI</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>ManagedRestore</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>ORGO</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>ORGODeviceSubscription</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>ORGOUserSubscription</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>ReleaseOrphanedAccounts</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>RequireUniquePayloadIdentifiers</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>SecondaryAccountListUI</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>UAORGO</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>UserEnrollmentShowsManagedAccount</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
</dict>
</plist>
