<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AccessoryMetrics</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>Afroimkne234rsff23</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>AhSLZPuUtPcpYLVJHCtLO</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>AtomicHomeArchive</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>B520</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>BoltPrimaryUser</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>Brightnessdatacollection</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>CurrentAccessoryRemovalDelegate</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>HAPAuthenticationEnhancement</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>HomeTransactionArchiveReplay</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>HouseholdMetrics</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>IQ35zOwSSwRnXOA4aeI5</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>JMjIql4w2ryl8XrRuebT</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>LYgIcvXzpTTap0GYj4OMwW</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>LockNotifications</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>LuVUzqvHPFHFaKgHKAeChE</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>ManagedConfigurationProfile</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>ModernTransport</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>Odeon B520</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>ResidentElectionV2</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>ResidentFirstAccessoryCommunication</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>SideKickLocationServices</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>SideKickMediaSettings</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>SideKickSiriDecoupling</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>SingleCoreRoutineAPIForLocation</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>SiriEndpoints</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>SiriEndpointsFollowOn</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>UnifiedMediaNotifications</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>WalletKey</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>cce7c4ecef404121ae8971</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>coordinationDoorbellChime</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>f4eada178bce4558b07ad20d2614d5e9</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>k8Y029QH96477W5rbjPi</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>lXliCuQfDnVkysVgyzTHyz</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>tPfjMDoMSXEMwiHVNVwyZe</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
</dict>
</plist>
