<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AbortIfNoSandbox</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>AggregateMessagesFromStorage</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>AllowEmptyTrafficClasses</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>DirectNSURLSession</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>DontCheckCTOnEveryGFTQuery</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>FamilyDrop_UnboundPhoneNumber</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>IDSBlastDoorDisabledForSatellite</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>IDSBlastDoorEnableGeneratedModelUse</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>IDSBlastDoorEnabledForCommands</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>IDSDirectMessage</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>IDSFamilyService</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>IDSFamily_DropIncomingNonFamilyMessage</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>IDSFamily_ServerDeviceSupport</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>IDSInvitationIsSenderMergeIdCheckEnabled</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>IDSKTSTHGossip</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>IDSSessionMultiplexer</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>KTForFaceTime</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>KTForMultiplex1</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>KTForTopLevelServices</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>MacModernGFT</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>PrioritizedActiveParticipants</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>PseudonymRevoke</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>Pseudonyms</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>ReportApprovedTemp</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>SyncConnection</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>UseMobileActivation</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>UseNewMPAPI</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
</dict>
</plist>
