<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animated_images_blastdoor_enabled</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>app_freezer</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>attachments_preview_blastdoor_macos_enabled</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>audiopreview_blastdoor_enabled</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>blastdoor_audio_unpacking</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>blastdoor_digitaltouch_unpacking</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>blastdoor_handwriting_unpacking</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>blastdoor_imessage_app_unpacking</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>blastdoor_software_heif_astc_enabled</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>branded_new_compose</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>business_greeting</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>cce</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>communication_safety_ui_enabled</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>comp_transcript</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>disable_unknown_sender_previews</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>fix_IMDPersistenceAgent_priority_inversion</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>fix_IMTranscoderAgent_priority_inversion</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>fix_imagent_priority_inversion</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>gp</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>greenfield_blastdoor_enabled</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>greenfield_enabled</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>hubble_cmm_processing</key>
	<dict>
		<key>DisclosureRequired</key>
		<string>bcc62760-404f-4f77-a139-4944841f3220</string>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>hubble_ui</key>
	<dict>
		<key>DisclosureRequired</key>
		<string>bcc62760-404f-4f77-a139-4944841f3220</string>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>i</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>imagepreviewblastdoor_enabled</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>link_presentation_unpacking_enabled</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>load_chats_progressively</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>m</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>messages_notification_filtering</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>mic_irbf</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>p</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>passkit_blastdoor_enabled</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>pegasus</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>sim_switcher_enabled</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>smsfilter_for_brazil_enabled</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>smsmms_blastdoor_enabled</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>system_image_adoption_enabled</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>tr</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
</dict>
</plist>
