<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ChildActivityMemory</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>ChildAndPersonMemory</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>ChildOutdoorMemory</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>CrowdSourcedThemes</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>DataAccess2</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>ExcitingMomentsMemory</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>FaceClusteringByMediaAnalysis</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>FaceDetectionByMediaAnalysis</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>FaceprintReset</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>GraphOnDiskQueries</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>GreenTea</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>Harmony</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>HubbleFilterTip</key>
	<dict>
		<key>DisclosureRequired</key>
		<string>a7b91b4b-3c76-40b6-bed3-8f4e880c5718</string>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>HubbleLibraryAndFP</key>
	<dict>
		<key>DisclosureRequired</key>
		<string>a7b91b4b-3c76-40b6-bed3-8f4e880c5718</string>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>HubbleLivingOn</key>
	<dict>
		<key>DisclosureRequired</key>
		<string>bcc62760-404f-4f77-a139-4944841f3220</string>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>HubbleMemories</key>
	<dict>
		<key>DisclosureRequired</key>
		<string>a7b91b4b-3c76-40b6-bed3-8f4e880c5718</string>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>HubblePicker</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>HubbleSharedWithYou</key>
	<dict>
		<key>DisclosureRequired</key>
		<string>a7b91b4b-3c76-40b6-bed3-8f4e880c5718</string>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>IngestAllMoments</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>MIGOD</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>MLInpainting</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>Matterhorn</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>MeaningTrial</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>MemeModel</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>MemoriesColorNormalization</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>MemoriesUpNext</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>MemoryElection</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>MemorySyncing</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>OneUpStateRestoration</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>PXStory</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>PXStoryMac</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>PXStoryTV</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>PersonActivityMeaning</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>PersonAutoCounter</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>PersonBuildingByMediaAnalysis</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>PersonPromotingByMediaAnalysis</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>PetMemoryV2</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>PetRecognition</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>ReefInpainting</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>SearchAllMemories</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>SocialGroupsV2</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>SocialGroupsV2RecencySort</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>SuggestionGenerationOnMacOS</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>SuperZoom</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>TVRedesign</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>TrendsMemory</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>UniversalSearch</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>UniversalSearch1UpActions</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>UniversalSearch1UpStyling</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>UniversalSearchOCR</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>UserFeedback</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>iOSInfo</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
</dict>
</plist>
