<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ColdStart</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>EpisodeUserFiltering</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>FirstTimeFollowTip</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>GlobalLimitDownloadsSetting</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>IgnoreHiddenEpisodeProperty</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>ImageLibraryHEIC</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>MacSwiftUIGlobalPreferences</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>RemoveOlderDownloadsTip</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>ShowSettingsSwiftUI</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>WidgetXL</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
</dict>
</plist>
