<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EnableScarlettUI</key>
	<dict>
		<key>DisclosureRequired</key>
		<string>844f6990-31be-484f-80a7-6f28d41b38b6</string>
		<key>Enabled</key>
		<true/>
	</dict>
</dict>
</plist>
