<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>de_DE</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>en_AU</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>en_CA</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>en_GB</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>en_IN</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>en_US</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>es_ES</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>es_MX</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>es_US</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>fr_FR</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>ja_JP</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>zh_CN</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>zh_HK</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
</dict>
</plist>
