<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GondolaAmore</key>
	<dict>
		<key>DisclosureRequired</key>
		<string>2298f8e4-f510-4776-b2c1-a85ea314b1f8</string>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>GondolaBoat</key>
	<dict>
		<key>DisclosureRequired</key>
		<string>2298f8e4-f510-4776-b2c1-a85ea314b1f8</string>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>GondolaHat</key>
	<dict>
		<key>DisclosureRequired</key>
		<string>2298f8e4-f510-4776-b2c1-a85ea314b1f8</string>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>GondolaIntentEnforce</key>
	<dict>
		<key>DisclosureRequired</key>
		<string>2298f8e4-f510-4776-b2c1-a85ea314b1f8</string>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>GondolaOar</key>
	<dict>
		<key>DisclosureRequired</key>
		<string>2298f8e4-f510-4776-b2c1-a85ea314b1f8</string>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>GondolaRide</key>
	<dict>
		<key>DisclosureRequired</key>
		<string>2298f8e4-f510-4776-b2c1-a85ea314b1f8</string>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>GondolaSinger</key>
	<dict>
		<key>DisclosureRequired</key>
		<string>2298f8e4-f510-4776-b2c1-a85ea314b1f8</string>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>NonInterruptingCalls</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>ScreenSharingSupport</key>
	<dict>
		<key>DisclosureRequired</key>
		<string>ec89c137-9295-4721-affa-58a3fc2ffb1e</string>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>TapToRadarBannerEnabled</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>UPlusNDowngrade</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>aTVHandoff</key>
	<dict>
		<key>DisclosureRequired</key>
		<string>ec89c137-9295-4721-affa-58a3fc2ffb1e</string>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>conversationOneToOneModeEnabled</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>expanseEnabled</key>
	<dict>
		<key>DisclosureRequired</key>
		<string>ec89c137-9295-4721-affa-58a3fc2ffb1e</string>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>expanseParticipantIDHashed</key>
	<dict>
		<key>DisclosureRequired</key>
		<string>ec89c137-9295-4721-affa-58a3fc2ffb1e</string>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>expanseTopicStateEnabled</key>
	<dict>
		<key>DisclosureRequired</key>
		<string>ec89c137-9295-4721-affa-58a3fc2ffb1e</string>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>ftvSpatialAudioEnabled</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>livePhotoXPCService</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>qrPluginEnabled</key>
	<dict>
		<key>DisclosureRequired</key>
		<string>ec89c137-9295-4721-affa-58a3fc2ffb1e</string>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>qrPluginEncryptionEnabled</key>
	<dict>
		<key>DisclosureRequired</key>
		<string>ec89c137-9295-4721-affa-58a3fc2ffb1e</string>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>screenSharingCALayerHostMode</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>sharePlayDisabled</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
</dict>
</plist>
