<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Pegasus</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>SystemShellManagesKeyboardFocus</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>almond_new_window_sizing</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>almond_true_res</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>catalyst_pointer_interaction</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>catalyst_responder_scene_hopping</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>chromeless_bars</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>content_text_extraction</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>dictation_continuous</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>fluid_sidebar</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>indirect_text_handle_suppression</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>kb_hud_redesign</key>
	<dict>
		<key>DisclosureRequired</key>
		<string>7c1e548e-8fc8-455f-b37d-9ea9745e6c01</string>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>key_window_api_is_scene_level</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>keyboard_camera</key>
	<dict>
		<key>DisclosureRequired</key>
		<string>844f6990-31be-484f-80a7-6f28d41b38b6</string>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>keyboard_contact</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>keyboard_emoji_search</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>keyboard_language_indicator</key>
	<dict>
		<key>DisclosureRequired</key>
		<string>7c1e548e-8fc8-455f-b37d-9ea9745e6c01</string>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>keyboard_shortcut_globe_modifier</key>
	<dict>
		<key>DisclosureRequired</key>
		<string>7c1e548e-8fc8-455f-b37d-9ea9745e6c01</string>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>keyboard_shortcut_localization</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>keyboard_suggestions_only_mode</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>label_intrinsic_metrics</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>label_metrics_reuse</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>new_splitviewcontroller</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>secure_pasteboard</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>sheets_dismiss_when_tapped_outside</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>slim_linear_keyboard</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>textfield_backgroundproviders</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>textfield_textlayoutmanager</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>tritium_hid_event_synchronization</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>tv_arrow_button_index_scroll</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>tv_rotary</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>ucb_redesign</key>
	<dict>
		<key>DisclosureRequired</key>
		<string>7c1e548e-8fc8-455f-b37d-9ea9745e6c01</string>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>ui_consistency</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>use_nspopover</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
	<key>use_nssheet</key>
	<dict>
		<key>Enabled</key>
		<true/>
	</dict>
</dict>
</plist>
