<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>20A241133</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>IOUserBluetoothSerialDriver</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.IOUserBluetoothSerialDriver</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>IOUserBluetoothSerialDriver</string>
	<key>CFBundlePackageType</key>
	<string>DEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>DriverKit</string>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>13E6049a</string>
	<key>DTPlatformName</key>
	<string>driverkit</string>
	<key>DTPlatformVersion</key>
	<string>21.6</string>
	<key>DTSDKBuild</key>
	<string></string>
	<key>DTSDKName</key>
	<string>driverkit.macosx21.6.internal</string>
	<key>DTXcode</key>
	<string>1330</string>
	<key>DTXcodeBuild</key>
	<string>13E6049a</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>IOUserBluetoothSerialDriver</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.IOUserBluetoothSerialDriver</string>
			<key>CFBundleIdentifierKernel</key>
			<string>com.apple.driver.driverkit.serial</string>
			<key>ClassOfDevice</key>
			<integer>0</integer>
			<key>IOClass</key>
			<string>IOUserService</string>
			<key>IOMatchCategory</key>
			<string>IOUserBluetoothSerialDriver</string>
			<key>IOPropertyMatch</key>
			<dict>
				<key>ClassOfDevice</key>
				<integer>0</integer>
				<key>DeviceType</key>
				<string>Serial</string>
			</dict>
			<key>IOProviderClass</key>
			<string>IOBluetoothDevice</string>
			<key>IOUserBluetoothSerialClient</key>
			<dict>
				<key>IOClass</key>
				<string>IOUserUserClient</string>
				<key>IOUserClass</key>
				<string>IOUserBluetoothSerialClient</string>
			</dict>
			<key>IOUserClass</key>
			<string>IOUserBluetoothSerialDriver</string>
			<key>IOUserServerName</key>
			<string>com.apple.IOUserBluetoothSerialDriver</string>
			<key>PTY</key>
			<dict>
				<key>CFBundleIdentifier</key>
				<string>com.apple.driver.driverkit.serial</string>
				<key>IOClass</key>
				<string>IOUserSerial</string>
				<key>IOUserClass</key>
				<string>IOUserPseudoSerial</string>
				<key>PTY</key>
				<dict>
					<key>IOClass</key>
					<string>IOUserUserClient</string>
					<key>IOUserClass</key>
					<string>IOUserPseudoSerialUserClient</string>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>OSBundleRequired</key>
	<string>DriverKit</string>
	<key>OSBundleUsageDescription</key>
	<string></string>
	<key>OSMinimumDriverKitVersion</key>
	<string>21.6</string>
</dict>
</plist>
