<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>PrivacyLocationServicesType</string>
	<string>kTCCServiceAddressBook</string>
	<string>kTCCServiceCalendar</string>
	<string>kTCCServiceReminders</string>
	<string>kTCCServiceCamera</string>
	<string>kTCCServiceMicrophone</string>
	<string>kTCCServiceSpeechRecognition</string>
	<string>PrivacyAccessibilityServicesType</string>
	<string>kTCCServiceListenEvent</string>
	<string>kTCCServiceSystemPolicyAllFiles</string>
	<string>PrivacyFileAccessType</string>
	<string>kTCCServiceScreenCapture</string>
	<string>kTCCServiceMediaLibrary</string>
	<string>kTCCServiceWillow</string>
	<string>kTCCServiceBluetoothAlways</string>
	<string>kTCCServiceFocusStatus</string>
	<string>PrivacyAutomationType</string>
	<string>kTCCServiceDeveloperTool</string>
</array>
</plist>
