<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>kTCCServiceAddressBook</key>
	<dict>
		<key>serviceName</key>
		<string>CONTACTS</string>
		<key>serviceIcon-by-bundleid</key>
		<string>com.apple.AddressBook</string>
		<key>noServicesInTableString</key>
		<string>CONTACTS_EMPTY_APP_LIST</string>
		<key>serviceSummary</key>
		<string>CONTACTS_SUMMARY</string>
		<key>quitRevokeTitleForAppName</key>
		<string>CONTACTS_QUIT_REVOKE_TITLE</string>
		<key>quitAllowTitleForAppName</key>
		<string>CONTACTS_QUIT_ALLOW_TITLE</string>
		<key>revealElementKeyName</key>
		<string>Privacy_Contacts</string>
	</dict>
	<key>kTCCServiceCalendar</key>
	<dict>
		<key>serviceName</key>
		<string>CALENDARS</string>
		<key>serviceIcon-by-bundleid</key>
		<string>com.apple.iCal</string>
		<key>noServicesInTableString</key>
		<string>CALENDARS_EMPTY_APP_LIST</string>
		<key>serviceSummary</key>
		<string>CALENDARS_SUMMARY</string>
		<key>quitRevokeTitleForAppName</key>
		<string>CALENDARS_QUIT_REVOKE_TITLE</string>
		<key>quitAllowTitleForAppName</key>
		<string>CALENDARS_QUIT_ALLOW_TITLE</string>
		<key>revealElementKeyName</key>
		<string>Privacy_Calendars</string>
	</dict>
	<key>kTCCServiceReminders</key>
	<dict>
		<key>serviceName</key>
		<string>REMINDERS</string>
		<key>serviceIcon-by-bundleid</key>
		<string>com.apple.reminders</string>
		<key>noServicesInTableString</key>
		<string>REMINDERS_EMPTY_APP_LIST</string>
		<key>serviceSummary</key>
		<string>REMINDERS_SUMMARY</string>
		<key>quitRevokeTitleForAppName</key>
		<string>REMINDERS_QUIT_REVOKE_TITLE</string>
		<key>quitAllowTitleForAppName</key>
		<string>REMINDERS_QUIT_ALLOW_TITLE</string>
		<key>revealElementKeyName</key>
		<string>Privacy_Reminders</string>
	</dict>
	<key>kTCCServiceCamera</key>
	<dict>
		<key>serviceName</key>
		<string>CAMERA</string>
		<key>serviceIcon</key>
		<string>privacy-cameraservices</string>
		<key>noServicesInTableString</key>
		<string>CAMERA_EMPTY_APP_LIST</string>
		<key>serviceSummary</key>
		<string>CAMERA_SUMMARY</string>
		<key>quitRevokeTitleForAppName</key>
		<string>CAMERA_QUIT_REVOKE_TITLE</string>
		<key>quitAllowTitleForAppName</key>
		<string>CAMERA_QUIT_ALLOW_TITLE</string>
		<key>revealElementKeyName</key>
		<string>Privacy_Camera</string>
	</dict>
	<key>kTCCServiceMicrophone</key>
	<dict>
		<key>serviceName</key>
		<string>MICROPHONE</string>
		<key>serviceIcon</key>
		<string>privacy-microphoneservices</string>
		<key>noServicesInTableString</key>
		<string>MICROPHONE_EMPTY_APP_LIST</string>
		<key>serviceSummary</key>
		<string>MICROPHONE_SUMMARY</string>
		<key>quitRevokeTitleForAppName</key>
		<string>MICROPHONE_QUIT_REVOKE_TITLE</string>
		<key>quitAllowTitleForAppName</key>
		<string>MICROPHONE_QUIT_ALLOW_TITLE</string>
		<key>revealElementKeyName</key>
		<string>Privacy_Microphone</string>
	</dict>
	<key>kTCCServiceSystemPolicyAllFiles</key>
	<dict>
		<key>serviceName</key>
		<string>ALL_FILES</string>
		<key>serviceIcon-by-imagenamed</key>
		<string>NSFolder</string>
		<key>serviceIcon</key>
		<string>privacy-allfiles</string>
		<key>serviceSummary</key>
		<string>ALL_FILES_SUMMARY</string>
		<key>quitRevokeTitleForAppName</key>
		<string>ALL_FILES_QUIT_REVOKE_TITLE</string>
		<key>quitAllowTitleForAppName</key>
		<string>ALL_FILES_QUIT_ALLOW_TITLE</string>
		<key>revealElementKeyName</key>
		<string>Privacy_AllFiles</string>
		<key>requiresAdmin</key>
		<true/>
		<key>supportsDroppingApps</key>
		<true/>
		<key>supportsAddRemoveBar</key>
		<true/>
	</dict>
	<key>kTCCServiceScreenCapture</key>
	<dict>
		<key>requiresAdmin</key>
		<true/>
		<key>serviceName</key>
		<string>SCREEN_CAPTURE</string>
		<key>supportsAddRemoveBar</key>
		<true/>
		<key>supportsDroppingApps</key>
		<true/>
		<key>serviceIcon-by-path</key>
		<string>/System/Library/PreferencePanes/Displays.prefPane/Contents/Resources/Displays.icns</string>
		<key>serviceIcon</key>
		<string>privacy-screencapture</string>
		<key>noServicesInTableString</key>
		<string>SCREEN_CAPTURE_EMPTY_APP_LIST</string>
		<key>serviceSummary</key>
		<string>SCREEN_CAPTURE_SUMMARY</string>
		<key>quitRevokeTitleForAppName</key>
		<string>SCREEN_CAPTURE_REVOKE_TITLE</string>
		<key>quitAllowTitleForAppName</key>
		<string>SCREEN_CAPTURE_QUIT_ALLOW_TITLE</string>
		<key>revealElementKeyName</key>
		<string>Privacy_ScreenCapture</string>
	</dict>
	<key>kTCCServiceListenEvent</key>
	<dict>
		<key>serviceName</key>
		<string>LISTEN_EVENT</string>
		<key>serviceIcon</key>
		<string>privacy-listenevents</string>
		<key>noServicesInTableString</key>
		<string>LISTEN_EVENT_EMPTY_APP_LIST</string>
		<key>serviceSummary</key>
		<string>LISTEN_EVENT_SUMMARY</string>
		<key>quitRevokeTitleForAppName</key>
		<string>LISTEN_EVENT_REVOKE_TITLE</string>
		<key>quitAllowTitleForAppName</key>
		<string>LISTEN_EVENT_QUIT_ALLOW_TITLE</string>
		<key>revealElementKeyName</key>
		<string>Privacy_ListenEvent</string>
		<key>requiresAdmin</key>
		<true/>
		<key>supportsDroppingApps</key>
		<true/>
		<key>supportsAddRemoveBar</key>
		<true/>
	</dict>
	<key>kTCCServiceSpeechRecognition</key>
	<dict>
		<key>serviceName</key>
		<string>SPEECH_RECOGNITION</string>
		<key>serviceIcon</key>
		<string>privacy-speechrecognition</string>
		<key>noServicesInTableString</key>
		<string>SPEECH_RECOGNITION_EMPTY_APP_LIST</string>
		<key>serviceSummary</key>
		<string>SPEECH_RECOGNITION_SUMMARY</string>
		<key>quitRevokeTitleForAppName</key>
		<string>SPEECH_RECOGNITION_EVENT_REVOKE_TITLE</string>
		<key>quitAllowTitleForAppName</key>
		<string>SPEECH_RECOGNITION_EVENT_QUIT_ALLOW_TITLE</string>
		<key>revealElementKeyName</key>
		<string>Privacy_SpeechRecognition</string>
	</dict>
	<key>kTCCServiceDeveloperTool</key>
	<dict>
		<key>serviceName</key>
		<string>DEV_TOOLS</string>
		<key>serviceIcon-by-bundleid</key>
		<string>com.apple.dt.Xcode</string>
		<key>serviceSummary</key>
		<string>DEV_TOOLS_SUMMARY</string>
		<key>revealElementKeyName</key>
		<string>Privacy_DevTools</string>
		<key>requiresAdmin</key>
		<true/>
		<key>supportsDroppingApps</key>
		<true/>
		<key>supportsAddRemoveBar</key>
		<true/>
		<key>hideWhenEmpty</key>
		<true/>
	</dict>
	<key>kTCCServiceBluetoothAlways</key>
	<dict>
		<key>serviceName</key>
		<string>BLUETOOTH</string>
		<key>serviceIcon</key>
		<string>privacy-bluetooth</string>
		<key>noServicesInTableString</key>
		<string>BLUETOOTH_EMPTY_APP_LIST</string>
		<key>serviceSummary</key>
		<string>BLUETOOTH_SUMMARY</string>
		<key>quitRevokeTitleForAppName</key>
		<string>BLUETOOTH_QUIT_REVOKE_TITLE</string>
		<key>quitAllowTitleForAppName</key>
		<string>BLUETOOTH_QUIT_ALLOW_TITLE</string>
		<key>revealElementKeyName</key>
		<string>Privacy_Bluetooth</string>
		<key>supportsDroppingApps</key>
		<true/>
		<key>supportsAddRemoveBar</key>
		<true/>
	</dict>
	<key>kTCCServiceMediaLibrary</key>
	<dict>
		<key>serviceName</key>
		<string>MEDIA</string>
		<key>serviceIcon</key>
		<string>privacy-medialibrary</string>
		<key>noServicesInTableString</key>
		<string>MEDIA_EMPTY_APP_LIST</string>
		<key>serviceSummary</key>
		<string>MEDIA_SUMMARY</string>
		<key>quitRevokeTitleForAppName</key>
		<string>MEDIA_QUIT_REVOKE_TITLE</string>
		<key>quitAllowTitleForAppName</key>
		<string>MEDIA_QUIT_ALLOW_TITLE</string>
		<key>revealElementKeyName</key>
		<string>Privacy_Media</string>
	</dict>
	<key>kTCCServiceWillow</key>
	<dict>
		<key>serviceName</key>
		<string>HOMEKIT</string>
		<key>serviceIcon-by-bundleid</key>
		<string>com.apple.Home</string>
		<key>noServicesInTableString</key>
		<string>HOMEKIT_EMPTY_APP_LIST</string>
		<key>serviceSummary</key>
		<string>HOMEKIT_SUMMARY</string>
		<key>quitRevokeTitleForAppName</key>
		<string>HOMEKIT_QUIT_REVOKE_TITLE</string>
		<key>quitAllowTitleForAppName</key>
		<string>HOMEKIT_QUIT_ALLOW_TITLE</string>
		<key>revealElementKeyName</key>
		<string>Privacy_HomeKit</string>
		<key>requiresAdmin</key>
		<true/>
	</dict>
	<key>kTCCServiceFocusStatus</key>
	<dict>
		<key>serviceSummary</key>
		<string>DND_SUMMARY</string>
		<key>serviceName</key>
		<string>DND_SERVICE_NAME</string>
		<key>quitAllowTitleForAppName</key>
		<string>DND_QUIT_ALLOW_TITLE</string>
		<key>quitRevokeTitleForAppName</key>
		<string>DND_QUIT_REVOKE_TITLE</string>
		<key>noServicesInTableString</key>
		<string>DND_EMPTY_APP_LIST</string>
		<key>revealElementKeyName</key>
		<string>Privacy_Focus</string>
		<key>serviceIcon</key>
		<string>privacy-dnd</string>
	</dict>
</dict>
</plist>
