<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>20A241133</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>com.apple.DriverKit-AppleEthernetIXGBE</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.DriverKit-AppleEthernetIXGBE</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>com.apple.DriverKit-AppleEthernetIXGBE</string>
	<key>CFBundlePackageType</key>
	<string>DEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>DriverKit</string>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>21G113</string>
	<key>DTPlatformName</key>
	<string>driverkit</string>
	<key>DTPlatformVersion</key>
	<string>21.6</string>
	<key>DTSDKBuild</key>
	<string></string>
	<key>DTSDKName</key>
	<string>driverkit.macosx21.6.internal</string>
	<key>DTXcode</key>
	<string>1330</string>
	<key>DTXcodeBuild</key>
	<string>13E6049a</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>DriverKit_AppleEthernetIXGBE</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.DriverKit-AppleEthernetIXGBE</string>
			<key>CFBundleIdentifierKernel</key>
			<string>com.apple.iokit.IOSkywalkFamily</string>
			<key>IOClass</key>
			<string>IOUserNetworkEthernet</string>
			<key>IOPCIClassMatch</key>
			<string>0x02000000&amp;0xffffff00</string>
			<key>IOPCIMatch</key>
			<string>0x00008086&amp;0x0000ffff</string>
			<key>IOPCITunnelCompatible</key>
			<true/>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>IOUserClass</key>
			<string>DriverKit_AppleEthernetIXGBE</string>
			<key>IOUserServerName</key>
			<string>com.apple.DriverKit-AppleEthernetIXGBE</string>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2018 Apple Inc. All rights reserved.</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IOSkywalkFamily</key>
		<string>1.0</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>DriverKit</string>
	<key>OSMinimumDriverKitVersion</key>
	<string>21.6</string>
</dict>
</plist>
