<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AVCaptureSessionPresetCommon</key>
	<dict>
		<key>soun</key>
		<dict> <!-- Note that the keys used in the soun section are a mix of Tundra style (AVXXX) and BW style. We need to revisit the BW format and make it more Tundra-like in order to support multiple audio formats and codecs -->
			<key>org.3gpp.adaptive-multi-rate-audio</key>
			<dict>
				<key>AVFormatIDKey</key>
				<integer>1935764850</integer>
				<key>AVSampleRateKey</key>
				<integer>8000</integer>
			</dict>
			<key>public.aifc-audio</key>
			<dict>
				<key>AVFormatIDKey</key>
				<integer>1819304813</integer>
				<key>AVLinearPCMIsBigEndianKey</key>
				<true/>
			</dict>
			<key>public.aiff-audio</key>
			<dict>
				<key>AVFormatIDKey</key>
				<integer>1819304813</integer>
				<key>AVLinearPCMIsBigEndianKey</key>
				<true/>
			</dict>
			<key>com.microsoft.waveform-audio</key>
			<dict>
				<key>AVFormatIDKey</key>
				<integer>1819304813</integer>
				<key>AVLinearPCMIsBigEndianKey</key>
				<false/>
			</dict>
			<key>com.apple.coreaudio-format</key>
			<dict>
				<key>AVFormatIDKey</key>
				<integer>1633772320</integer>
			</dict>
			<key>public.3gpp</key>
			<dict>
				<key>AVNumberOfChannelsKey</key>
				<integer>1</integer>
				<key>AVEncoderBitRatePerChannelKey</key>
				<integer>24000</integer>
				<key>AVFormatIDKey</key>
				<integer>1633772320</integer>
			</dict>
			<key>com.apple.m4a-audio</key>
			<dict>
				<key>AVFormatIDKey</key>
				<integer>1633772320</integer>
			</dict>
			<key>public.mpeg-4</key>
			<dict>
				<key>AVFormatIDKey</key>
				<integer>1633772320</integer>
			</dict>
			<key>com.apple.quicktime-movie</key>
			<dict>
				<!-- Tundra style keys -->
				<key>AVFormatIDKey</key>
				<integer>1633772320</integer>
				<!-- BW style keys -->
				<key>PreferredSampleRate</key>
				<integer>44100</integer>
				<key>BitRatePerChannelForPreferredSampleRate</key>
				<integer>96000</integer>
				<key>BitRateStrategyForPreferredSampleRate</key>
				<string>AVAudioBitRateStrategy_Variable</string>
				<key>VBRCodecQualityForPreferredSampleRate</key>
				<integer>91</integer>
			</dict>
		</dict>
		<key>vide</key>
		<dict>
			<key>Device</key>
			<dict>
				<key>TargetMaxFrameRate</key>
				<integer>30</integer>
				<key>TargetMinFrameRate</key>
				<integer>24</integer>
			</dict>
			<key>com.apple.quicktime-movie</key>
			<dict>
				<key>AVVideoCodecKey</key>
				<string>avc1</string>
				<key>AVVideoScalingModeKey</key>
				<string>AVVideoScalingModeFit</string>
			</dict>
		</dict>
	</dict>
	<key>AVCaptureSessionPresetInputPriority</key>
	<dict>
		<key>soun</key>
		<dict>
			<key>com.apple.quicktime-movie</key>
			<dict/>
		</dict>
	</dict>
	<key>AVCaptureSessionPresetPhoto</key>
	<dict>
		<key>vide</key>
		<dict>
			<key>Device</key>
			<dict>
				<key>TargetWidth</key> <!-- Target width/height are flexible. Source should be matched as closely as possible to targets, but these are not hard and fast requirements. -->
				<integer>4032</integer>
				<key>TargetHeight</key>
				<integer>3024</integer>
				<key>TargetMaxFrameRate</key>
				<integer>30</integer>
				<key>TargetMinFrameRate</key>
				<integer>15</integer>
			</dict>
			<key>com.apple.quicktime-movie</key>
			<dict>
				<!-- Anything goes -->
			</dict>
		</dict>
		<key>soun</key>
		<dict>
			<key>com.apple.coreaudio-format</key>
			<dict>
				<key>AVFormatIDKey</key>
				<integer>1819304813</integer>
			</dict>
			<key>com.apple.quicktime-movie</key>
			<dict>
				<!-- Tundra style keys -->
				<key>AVFormatIDKey</key>
				<integer>1819304813</integer>
			</dict>
		</dict>
	</dict>
	<key>AVCaptureSessionPresetPhoto2592x1936</key>
	<dict>
		<key>vide</key>
		<dict>
			<key>Device</key>
			<dict>
				<key>RequiredWidth</key>
				<integer>2592</integer>
				<key>RequiredHeight</key>
				<integer>1936</integer>
				<key>TargetMaxFrameRate</key>
				<integer>30</integer>
				<key>TargetMinFrameRate</key>
				<integer>15</integer>
			</dict>
			<key>com.apple.quicktime-movie</key>
			<dict>
				<!-- Anything goes -->
			</dict>
		</dict>
		<key>soun</key>
		<dict>
			<key>com.apple.quicktime-movie</key>
			<dict/>
		</dict>
	</dict>
	<key>AVCaptureSessionPresetHigh</key>
	<dict>
		<key>vide</key>
		<dict>
			<key>Device</key>
			<dict>
				<key>TargetWidth</key>
				<integer>1920</integer>
				<key>TargetHeight</key>
				<integer>1080</integer>
			</dict>
			<key>com.apple.quicktime-movie</key>
			<dict>
				<key>AVVideoCompressionPropertiesKey</key>
				<dict>
					<key>MaxKeyFrameIntervalDuration</key>
					<real>1</real>
				</dict>
			</dict>
		</dict>
		<key>soun</key>
		<dict>
			<key>com.apple.coreaudio-format</key>
			<dict>
				<key>AVEncoderBitRatePerChannelKey</key>
				<integer>128000</integer>
			</dict>
			<key>com.apple.m4a-audio</key>
			<dict>
				<key>AVEncoderBitRatePerChannelKey</key>
				<integer>128000</integer>
			</dict>
			<key>public.mpeg-4</key>
			<dict>
				<key>AVEncoderBitRatePerChannelKey</key>
				<integer>128000</integer>
			</dict>
			<key>com.apple.quicktime-movie</key>
			<dict>
				<!-- Tundra style keys -->
				<key>AVEncoderBitRatePerChannelKey</key>
				<integer>128000</integer>
			</dict>
		</dict>
	</dict>
	<key>AVCaptureSessionPresetHigh60</key>
	<dict>
		<key>vide</key>
		<dict>
			<key>Device</key>
			<dict>
				<key>TargetWidth</key>
				<integer>1920</integer>
				<key>TargetHeight</key>
				<integer>1080</integer>
				<key>RequiredMaxFrameRate</key>
				<integer>60</integer>
				<key>RequiredMinFrameRate</key>
				<integer>60</integer>
			</dict>
		</dict>
		<key>soun</key>
		<dict>
			<key>com.apple.quicktime-movie</key>
			<dict/>
		</dict>
	</dict>
	<key>AVCaptureSessionPresetMedium</key>
	<dict>
		<key>vide</key>
		<dict>
			<key>Device</key>
			<dict>
				<key>RequiredWidth</key>
				<integer>480</integer>
				<key>RequiredHeight</key>
				<integer>360</integer>
				<key>TargetMaxFrameRate</key>
				<integer>30</integer>
				<key>TargetMinFrameRate</key>
				<integer>24</integer>
			</dict>
			<key>com.apple.quicktime-movie</key>
			<dict>
				<key>AVVideoWidthKey</key>
				<integer>480</integer>
				<key>AVVideoHeightKey</key>
				<integer>480</integer>
				<key>AVVideoCompressionPropertiesKey</key>
				<dict>
					<key>AverageBitRate</key>
					<integer>700000</integer>
					<key>MaxKeyFrameIntervalDuration</key>
					<real>1</real>
					<key>ProfileLevel</key>
					<string>H264_Baseline_3_0</string>
				</dict>
			</dict>
		</dict>
		<key>soun</key>
		<dict>
			<key>public.aifc-audio</key>
			<dict>
				<key>AVLinearPCMIsFloatKey</key>
				<false/>
				<key>AVLinearPCMBitDepthKey</key>
				<integer>16</integer>
				<key>AVSampleRateKey</key>
				<integer>22050</integer>
			</dict>
			<key>public.aiff-audio</key>
			<dict>
				<key>AVLinearPCMIsFloatKey</key>
				<false/>
				<key>AVLinearPCMBitDepthKey</key>
				<integer>16</integer>
				<key>AVSampleRateKey</key>
				<integer>22050</integer>
			</dict>
			<key>com.microsoft.waveform-audio</key>
			<dict>
				<key>AVLinearPCMIsFloatKey</key>
				<false/>
				<key>AVLinearPCMBitDepthKey</key>
				<integer>16</integer>
				<key>AVSampleRateKey</key>
				<integer>22050</integer>
			</dict>
			<key>com.apple.coreaudio-format</key>
			<dict>
				<key>AVEncoderBitRatePerChannelKey</key>
				<integer>64000</integer>
			</dict>
			<key>com.apple.m4a-audio</key>
			<dict>
				<key>AVEncoderBitRatePerChannelKey</key>
				<integer>64000</integer>
			</dict>
			<key>public.mpeg-4</key>
			<dict>
				<key>AVEncoderBitRatePerChannelKey</key>
				<integer>64000</integer>
			</dict>
			<key>com.apple.quicktime-movie</key>
			<dict>
				<key>AVEncoderBitRatePerChannelKey</key>
				<integer>64000</integer>
			</dict>
		</dict>
	</dict>
	<key>AVCaptureSessionPresetLow</key>
	<dict>
		<key>vide</key>
		<dict>
			<key>Device</key>
			<dict>
				<key>RequiredWidth</key>
				<integer>192</integer>
				<key>RequiredHeight</key>
				<integer>144</integer>
				<key>TargetMaxFrameRate</key>
				<integer>15</integer>
				<key>TargetMinFrameRate</key>
				<integer>7</integer>
			</dict>
			<key>com.apple.quicktime-movie</key>
			<dict>
				<key>AVVideoWidthKey</key>
				<integer>192</integer>
				<key>AVVideoHeightKey</key>
				<integer>192</integer>
				<key>AVVideoCompressionPropertiesKey</key>
				<dict>
					<key>AverageBitRate</key>
					<integer>128000</integer>
					<key>MaxKeyFrameIntervalDuration</key>
					<real>1</real>
					<key>ProfileLevel</key>
					<string>H264_Baseline_3_0</string>
				</dict>
			</dict>
		</dict>
		<key>soun</key>
		<dict>
			<key>public.aifc-audio</key>
			<dict>
				<key>AVLinearPCMIsFloatKey</key>
				<false/>
				<key>AVLinearPCMBitDepthKey</key>
				<integer>16</integer>
				<key>AVSampleRateKey</key>
				<integer>11025</integer>
				<key>AVNumberOfChannelsKey</key>
				<integer>1</integer>
			</dict>
			<key>public.aiff-audio</key>
			<dict>
				<key>AVLinearPCMIsFloatKey</key>
				<false/>
				<key>AVLinearPCMBitDepthKey</key>
				<integer>16</integer>
				<key>AVSampleRateKey</key>
				<integer>11025</integer>
				<key>AVNumberOfChannelsKey</key>
				<integer>1</integer>
			</dict>
			<key>com.microsoft.waveform-audio</key>
			<dict>
				<key>AVLinearPCMIsFloatKey</key>
				<false/>
				<key>AVLinearPCMBitDepthKey</key>
				<integer>16</integer>
				<key>AVSampleRateKey</key>
				<integer>11025</integer>
				<key>AVNumberOfChannelsKey</key>
				<integer>1</integer>
			</dict>
			<key>com.apple.coreaudio-format</key>
			<dict>
				<key>AVEncoderBitRatePerChannelKey</key>
				<integer>24000</integer>
				<key>AVNumberOfChannelsKey</key>
				<integer>1</integer>
			</dict>
			<key>com.apple.m4a-audio</key>
			<dict>
				<key>AVEncoderBitRatePerChannelKey</key>
				<integer>24000</integer>
				<key>AVNumberOfChannelsKey</key>
				<integer>1</integer>
			</dict>
			<key>public.mpeg-4</key>
			<dict>
				<key>AVEncoderBitRatePerChannelKey</key>
				<integer>24000</integer>
				<key>AVNumberOfChannelsKey</key>
				<integer>1</integer>
			</dict>
			<key>com.apple.quicktime-movie</key>
			<dict>
				<!-- Tundra-style keys -->
				<key>AVEncoderBitRatePerChannelKey</key>
				<integer>24000</integer>
				<key>AVNumberOfChannelsKey</key>
				<integer>1</integer>
				<!-- BW-style keys -->
				<key>RequiredSampleRate</key>
				<integer>22050</integer>
				<key>RequiredNumChannels</key>
				<integer>1</integer>
				<key>RequiredBitRatePerChannel</key>
				<integer>24000</integer>
			</dict>
		</dict>
	</dict>
	<key>AVCaptureSessionPresetiFrame1280x720</key>
	<dict>
		<key>vide</key>
		<dict>
			<key>Device</key>
			<dict>
				<key>RequiredWidth</key>
				<integer>1280</integer>
				<key>RequiredHeight</key>
				<integer>720</integer>
				<key>RequiredMaxFrameRate</key>
				<integer>30</integer>
				<key>RequiredMinFrameRate</key>
				<integer>30</integer>
			</dict>
			<key>com.apple.quicktime-movie</key>
			<dict>
				<key>AVVideoWidthKey</key>
				<integer>1280</integer>
				<key>AVVideoHeightKey</key>
				<integer>720</integer>
				<key>AVVideoScalingModeKey</key>
				<string>AVVideoScalingModeResizeAspect</string>
				<key>AVVideoCompressionPropertiesKey</key>
				<dict>
					<key>AverageBitRate</key>
					<integer>40000000</integer>
					<key>MaxKeyFrameInterval</key>
					<integer>1</integer>
					<key>ProfileLevel</key>
					<string>H264_Baseline_4_1</string>
				</dict>
			</dict>
		</dict>
		<key>soun</key>
		<dict>
			<key>com.apple.quicktime-movie</key>
			<dict>
				<!-- Tundra style keys -->
				<key>AVEncoderBitRatePerChannelKey</key>
				<integer>128000</integer>
				<key>AVNumberOfChannelsKey</key>
				<integer>2</integer>
				<key>AVSampleRateKey</key>
				<integer>48000</integer>
				<!-- BW style keys -->
				<key>RequiredSampleRate</key>
				<integer>48000</integer>
				<key>RequiredBitRatePerChannel</key>
				<integer>128000</integer>
				<key>RequiredNumChannels</key>
				<integer>2</integer>
			</dict>
		</dict>
	</dict>
	<key>AVCaptureSessionPresetiFrame960x540</key>
	<dict>
		<key>vide</key>
		<dict>
			<key>Device</key>
			<dict>
				<key>RequiredWidth</key>
				<integer>960</integer>
				<key>RequiredHeight</key>
				<integer>540</integer>
				<key>RequiredMaxFrameRate</key>
				<integer>30</integer>
				<key>RequiredMinFrameRate</key>
				<integer>30</integer>
			</dict>
			<key>com.apple.quicktime-movie</key>
			<dict>
				<key>AVVideoWidthKey</key>
				<integer>960</integer>
				<key>AVVideoHeightKey</key>
				<integer>540</integer>
				<key>AVVideoScalingModeKey</key>
				<string>AVVideoScalingModeResizeAspect</string>
				<key>AVVideoCompressionPropertiesKey</key>
				<dict>
					<key>AverageBitRate</key>
					<integer>30000000</integer>
					<key>MaxKeyFrameInterval</key>
					<integer>1</integer>
					<key>ProfileLevel</key>
					<string>H264_Baseline_4_1</string>
				</dict>
			</dict>
		</dict>
		<key>soun</key>
		<dict>
			<key>com.apple.quicktime-movie</key>
			<dict>
				<key>AVEncoderBitRatePerChannelKey</key>
				<integer>128000</integer>
				<key>AVNumberOfChannelsKey</key>
				<integer>2</integer>
				<key>AVSampleRateKey</key>
				<integer>48000</integer>
				<!-- BW style keys -->
				<key>RequiredSampleRate</key>
				<integer>48000</integer>
				<key>RequiredBitRatePerChannel</key>
				<integer>128000</integer>
				<key>RequiredNumChannels</key>
				<integer>2</integer>
			</dict>
		</dict>
	</dict>
	<key>AVCaptureSessionPresetVoicemailGreeting</key>
	<dict>
		<key>soun</key>
		<dict>
			<key>com.apple.quicktime-movie</key>
			<dict/>
		</dict>
	</dict>
	<key>AVCaptureSessionPreset320x240</key>
	<dict>
		<key>vide</key>
		<dict>
			<key>Device</key>
			<dict>
				<key>RequiredWidth</key>
				<integer>320</integer>
				<key>RequiredHeight</key>
				<integer>240</integer>
			</dict>
			<key>com.apple.quicktime-movie</key>
			<dict>
				<key>AVVideoScalingModeKey</key>
				<string>AVVideoScalingModeResizeAspect</string>
				<key>AVVideoWidthKey</key>
				<integer>320</integer>
				<key>AVVideoHeightKey</key>
				<integer>240</integer>
				<key>AVVideoCompressionPropertiesKey</key>
				<dict>
					<key>AverageBitRate</key>
					<integer>875000</integer>
					<key>MaxKeyFrameIntervalDuration</key>
					<real>1</real>
					<key>ProfileLevel</key>
					<string>H264_Baseline_3_0</string>
				</dict>
			</dict>
		</dict>
		<key>soun</key>
		<dict>
			<key>com.apple.quicktime-movie</key>
			<dict>
				<key>AVEncoderBitRatePerChannelKey</key>
				<integer>48000</integer>
				<!-- BW style keys -->
				<key>RequiredSampleRate</key>
				<integer>22050</integer>
				<key>RequiredNumChannels</key>
				<integer>1</integer>
				<key>RequiredBitRatePerChannel</key>
				<integer>24000</integer>
			</dict>
			<key>public.mpeg-4</key>
			<dict>
				<key>AVEncoderBitRatePerChannelKey</key>
				<integer>48000</integer>
			</dict>
			<key>com.apple.m4a-audio</key>
			<dict>
				<key>AVEncoderBitRatePerChannelKey</key>
				<integer>48000</integer>
			</dict>
			<key>com.apple.coreaudio-format</key>
			<dict>
				<key>AVEncoderBitRatePerChannelKey</key>
				<integer>48000</integer>
			</dict>
		</dict>
	</dict>
	<key>AVCaptureSessionPreset352x288</key>
	<dict>
		<key>vide</key>
		<dict>
			<key>Device</key>
			<dict>
				<key>RequiredWidth</key>
				<integer>352</integer>
				<key>RequiredHeight</key>
				<integer>288</integer>
			</dict>
			<key>com.apple.quicktime-movie</key>
			<dict>
				<key>AVVideoWidthKey</key>
				<integer>352</integer>
				<key>AVVideoHeightKey</key>
				<integer>288</integer>
				<key>AVVideoScalingModeKey</key>
				<string>AVVideoScalingModeResizeAspect</string>
				<key>AVVideoCompressionPropertiesKey</key>
				<dict>
					<key>AverageBitRate</key>
					<integer>1155000</integer>
					<key>MaxKeyFrameIntervalDuration</key>
					<real>1</real>
					<key>ProfileLevel</key>
					<string>H264_Baseline_3_0</string>
				</dict>
			</dict>
		</dict>
		<key>soun</key>
		<dict>
			<key>com.apple.quicktime-movie</key>
			<dict>
				<key>AVEncoderBitRatePerChannelKey</key>
				<integer>48000</integer>
				<!-- BW style keys -->
				<key>RequiredSampleRate</key>
				<integer>22050</integer>
				<key>RequiredNumChannels</key>
				<integer>1</integer>
				<key>RequiredBitRatePerChannel</key>
				<integer>24000</integer>
			</dict>
			<key>public.mpeg-4</key>
			<dict>
				<key>AVEncoderBitRatePerChannelKey</key>
				<integer>48000</integer>
			</dict>
			<key>com.apple.m4a-audio</key>
			<dict>
				<key>AVEncoderBitRatePerChannelKey</key>
				<integer>48000</integer>
			</dict>
			<key>com.apple.coreaudio-format</key>
			<dict>
				<key>AVEncoderBitRatePerChannelKey</key>
				<integer>48000</integer>
			</dict>
		</dict>
	</dict>
	<key>AVCaptureSessionPreset640x480</key>
	<dict>
		<key>vide</key>
		<dict>
			<key>Device</key>
			<dict>
				<key>RequiredWidth</key>
				<integer>640</integer>
				<key>RequiredHeight</key>
				<integer>480</integer>
			</dict>
			<key>com.apple.quicktime-movie</key>
			<dict>
				<key>AVVideoScalingModeKey</key>
				<string>AVVideoScalingModeResizeAspect</string>
				<key>AVVideoWidthKey</key>
				<integer>640</integer>
				<key>AVVideoHeightKey</key>
				<integer>480</integer>
				<key>AVVideoCompressionPropertiesKey</key>
				<dict>
					<key>AverageBitRate</key>
					<integer>3500000</integer>
					<key>MaxKeyFrameIntervalDuration</key>
					<real>1</real>
					<key>ProfileLevel</key>
					<string>H264_Main_3_0</string>
				</dict>
			</dict>
		</dict>
		<key>soun</key>
		<dict>
			<key>com.apple.quicktime-movie</key>
			<dict>
				<key>AVEncoderBitRatePerChannelKey</key>
				<integer>64000</integer>
			</dict>
			<key>public.mpeg-4</key>
			<dict>
				<key>AVEncoderBitRatePerChannelKey</key>
				<integer>64000</integer>
			</dict>
			<key>com.apple.m4a-audio</key>
			<dict>
				<key>AVEncoderBitRatePerChannelKey</key>
				<integer>64000</integer>
			</dict>
			<key>com.apple.coreaudio-format</key>
			<dict>
				<key>AVEncoderBitRatePerChannelKey</key>
				<integer>64000</integer>
			</dict>
		</dict>
	</dict>
	<key>AVCaptureSessionPreset960x540</key>
	<dict>
		<key>vide</key>
		<dict>
			<key>Device</key>
			<dict>
				<key>RequiredWidth</key>
				<integer>960</integer>
				<key>RequiredHeight</key>
				<integer>540</integer>
			</dict>
			<key>com.apple.quicktime-movie</key>
			<dict>
				<key>AVVideoScalingModeKey</key>
				<string>AVVideoScalingModeResizeAspect</string>
				<key>AVVideoWidthKey</key>
				<integer>960</integer>
				<key>AVVideoHeightKey</key>
				<integer>540</integer>
				<key>AVVideoCompressionPropertiesKey</key>
				<dict>
					<key>AverageBitRate</key>
					<integer>5906256</integer>
					<key>MaxKeyFrameIntervalDuration</key>
					<real>1</real>
					<key>ProfileLevel</key>
					<string>H264_Main_3_1</string>
				</dict>
			</dict>
		</dict>
		<key>soun</key>
		<dict>
			<key>com.apple.quicktime-movie</key>
			<dict>
				<key>AVEncoderBitRatePerChannelKey</key>
				<integer>64000</integer>
			</dict>
			<key>public.mpeg-4</key>
			<dict>
				<key>AVEncoderBitRatePerChannelKey</key>
				<integer>64000</integer>
			</dict>
			<key>com.apple.m4a-audio</key>
			<dict>
				<key>AVEncoderBitRatePerChannelKey</key>
				<integer>64000</integer>
			</dict>
			<key>com.apple.coreaudio-format</key>
			<dict>
				<key>AVEncoderBitRatePerChannelKey</key>
				<integer>64000</integer>
			</dict>
		</dict>
	</dict>
	<key>AVCaptureSessionPreset1280x720</key>
	<dict>
		<key>vide</key>
		<dict>
			<key>Device</key>
			<dict>
				<key>RequiredWidth</key>
				<integer>1280</integer>
				<key>RequiredHeight</key>
				<integer>720</integer>
			</dict>
			<key>com.apple.quicktime-movie</key>
			<dict>
				<key>AVVideoScalingModeKey</key>
				<string>AVVideoScalingModeResizeAspect</string>
				<key>AVVideoWidthKey</key>
				<integer>1280</integer>
				<key>AVVideoHeightKey</key>
				<integer>720</integer>
				<key>AVVideoCompressionPropertiesKey</key>
				<dict>
					<key>AverageBitRate</key>
					<integer>10500000</integer>
					<key>MaxKeyFrameIntervalDuration</key>
					<real>1</real>
					<key>ProfileLevel</key>
					<string>H264_Main_3_1</string>
				</dict>
			</dict>
		</dict>
		<key>soun</key>
		<dict>
			<key>com.apple.quicktime-movie</key>
			<dict>
				<key>AVEncoderBitRatePerChannelKey</key>
				<integer>128000</integer>
			</dict>
			<key>public.mpeg-4</key>
			<dict>
				<key>AVEncoderBitRatePerChannelKey</key>
				<integer>128000</integer>
			</dict>
			<key>com.apple.m4a-audio</key>
			<dict>
				<key>AVEncoderBitRatePerChannelKey</key>
				<integer>128000</integer>
			</dict>
			<key>com.apple.coreaudio-format</key>
			<dict>
				<key>AVEncoderBitRatePerChannelKey</key>
				<integer>128000</integer>
			</dict>
		</dict>
	</dict>
	<key>AVCaptureSessionPreset1920x1080</key>
	<dict>
		<key>vide</key>
		<dict>
			<key>Device</key>
			<dict>
				<key>RequiredWidth</key>
				<integer>1920</integer>
				<key>RequiredHeight</key>
				<integer>1080</integer>
			</dict>
			<key>com.apple.quicktime-movie</key>
			<dict>
				<key>AVVideoScalingModeKey</key>
				<string>AVVideoScalingModeResizeAspect</string>
				<key>AVVideoWidthKey</key>
				<integer>1920</integer>
				<key>AVVideoHeightKey</key>
				<integer>1080</integer>
				<key>AVVideoCompressionPropertiesKey</key>
				<dict>
					<key>AverageBitRate</key>
					<integer>17000000</integer>
					<key>MaxKeyFrameIntervalDuration</key>
					<real>1</real>
					<key>ProfileLevel</key>
					<string>H264_High_AutoLevel</string>
				</dict>
			</dict>
		</dict>
		<key>soun</key>
		<dict>
			<key>com.apple.quicktime-movie</key>
			<dict>
				<key>AVEncoderBitRatePerChannelKey</key>
				<integer>128000</integer>
			</dict>
			<key>public.mpeg-4</key>
			<dict>
				<key>AVEncoderBitRatePerChannelKey</key>
				<integer>128000</integer>
			</dict>
			<key>com.apple.m4a-audio</key>
			<dict>
				<key>AVEncoderBitRatePerChannelKey</key>
				<integer>128000</integer>
			</dict>
			<key>com.apple.coreaudio-format</key>
			<dict>
				<key>AVEncoderBitRatePerChannelKey</key>
				<integer>128000</integer>
			</dict>
		</dict>
	</dict>
	<key>AVCaptureSessionPreset3840x2160</key>
	<dict>
		<key>vide</key>
		<dict>
			<key>Device</key>
			<dict>
				<key>RequiredWidth</key>
				<integer>3840</integer>
				<key>RequiredHeight</key>
				<integer>2160</integer>
			</dict>
			<key>com.apple.quicktime-movie</key>
			<dict>
				<key>AVVideoScalingModeKey</key>
				<string>AVVideoScalingModeResizeAspect</string>
				<key>AVVideoWidthKey</key>
				<integer>3840</integer>
				<key>AVVideoHeightKey</key>
				<integer>2160</integer>
				<key>AVVideoCompressionPropertiesKey</key>
				<dict>
					<key>AverageBitRate</key>
					<real>30000000</real>
					<key>MaxKeyFrameIntervalDuration</key>
					<real>1</real>
					<key>ProfileLevel</key>
					<string>H264_High_AutoLevel</string>
				</dict>
			</dict>
		</dict>
		<key>soun</key>
		<dict>
			<key>com.apple.quicktime-movie</key>
			<dict>
				<key>AVEncoderBitRatePerChannelKey</key>
				<integer>128000</integer>
			</dict>
			<key>public.mpeg-4</key>
			<dict>
				<key>AVEncoderBitRatePerChannelKey</key>
				<integer>128000</integer>
			</dict>
			<key>com.apple.m4a-audio</key>
			<dict>
				<key>AVEncoderBitRatePerChannelKey</key>
				<integer>128000</integer>
			</dict>
			<key>com.apple.coreaudio-format</key>
			<dict>
				<key>AVEncoderBitRatePerChannelKey</key>
				<integer>128000</integer>
			</dict>
		</dict>
	</dict>
	<key>AVH264Settings</key>
	<dict>
		<key>Photo</key>
		<dict>
			<key>MaxWidth</key>
			<integer>1920</integer>
			<key>MaxHeight</key>
			<integer>1920</integer>
		</dict>
		<key>Video</key>
		<dict>
			<key>MaxWidth</key>
			<integer>1920</integer>
			<key>MaxHeight</key>
			<integer>1920</integer>
		</dict>
	</dict>
	<key>AVCaptureSessionPresetCompressionSettings</key>
	<dict>
		<key>AVCaptureSessionPresetLow</key>
		<dict>
			<key>AVVideoCodecKey</key>
			<string>avc1</string>
			<key>AVVideoCompressionPropertiesKey</key>
			<dict>
				<key>AverageBitRate</key>
				<integer>128000</integer>
				<key>ExpectedFrameRate</key>
				<integer>15</integer>
				<key>MaxKeyFrameIntervalDuration</key>
				<integer>1</integer>
				<key>Priority</key>
				<integer>80</integer>
				<key>ProfileLevel</key>
				<string>H264_Baseline_3_0</string>
				<key>RealTime</key>
				<true/>
			</dict>
			<key>AVVideoHeightKey</key>
			<integer>144</integer>
			<key>AVVideoWidthKey</key>
			<integer>192</integer>
		</dict>
		<key>AVCaptureSessionPresetMedium</key>
		<dict>
			<key>AVVideoCodecKey</key>
			<string>avc1</string>
			<key>AVVideoCompressionPropertiesKey</key>
			<dict>
				<key>AverageBitRate</key>
				<integer>700000</integer>
				<key>ExpectedFrameRate</key>
				<integer>30</integer>
				<key>MaxKeyFrameIntervalDuration</key>
				<integer>1</integer>
				<key>Priority</key>
				<integer>80</integer>
				<key>ProfileLevel</key>
				<string>H264_Baseline_3_0</string>
				<key>RealTime</key>
				<true/>
			</dict>
			<key>AVVideoHeightKey</key>
			<integer>360</integer>
			<key>AVVideoWidthKey</key>
			<integer>480</integer>
		</dict>
		<key>AVCaptureSessionPresetiFrame1280x720</key>
		<dict>
			<key>AVVideoCodecKey</key>
			<string>avc1</string>
			<key>AVVideoCompressionPropertiesKey</key>
			<dict>
				<key>AverageBitRate</key>
				<integer>40000000</integer>
				<key>DeblockingFiltering</key>
				<integer>1</integer>
				<key>ExpectedFrameRate</key>
				<integer>30</integer>
				<key>MaxKeyFrameInterval</key>
				<integer>1</integer>
				<key>MaxKeyFrameIntervalDuration</key>
				<integer>1</integer>
				<key>NumberOfSlices</key>
				<integer>4</integer>
				<key>Priority</key>
				<integer>80</integer>
				<key>ProfileLevel</key>
				<string>H264_Baseline_4_1</string>
				<key>RealTime</key>
				<true/>
			</dict>
			<key>AVVideoHeightKey</key>
			<integer>720</integer>
			<key>AVVideoWidthKey</key>
			<integer>1280</integer>
		</dict>
		<key>AVCaptureSessionPresetiFrame960x540</key>
		<dict>
			<key>AVVideoCodecKey</key>
			<string>avc1</string>
			<key>AVVideoCompressionPropertiesKey</key>
			<dict>
				<key>AverageBitRate</key>
				<integer>30000000</integer>
				<key>DeblockingFiltering</key>
				<integer>1</integer>
				<key>ExpectedFrameRate</key>
				<integer>30</integer>
				<key>MaxKeyFrameInterval</key>
				<integer>1</integer>
				<key>MaxKeyFrameIntervalDuration</key>
				<integer>1</integer>
				<key>NumberOfSlices</key>
				<integer>4</integer>
				<key>Priority</key>
				<integer>80</integer>
				<key>ProfileLevel</key>
				<string>H264_Baseline_4_1</string>
				<key>RealTime</key>
				<true/>
			</dict>
			<key>AVVideoHeightKey</key>
			<integer>540</integer>
			<key>AVVideoWidthKey</key>
			<integer>960</integer>
		</dict>
	</dict>
</dict>
</plist>
